@using FrontEnd_CDN.Components.Layout.ContasPaineis
@using System.Globalization

@* MOSTRADOR SALDOS CONTA *@
<MudContainer Class="pa-0 ma-0 flex-column d-flex pt-0">

    @* SALDO CONTA *@
    <MudPaper Outlined="true" Class="mx-4 py-4 flex-column d-flex rounded-lg" style="border-color: var(--mud-palette-primary);">
        @* SALDO *@
        <MudText Class="align-self-center pl-2" Color="MudBlazor.Color.Primary" Typo="Typo.h4">
            <b>@AuxFunc.Valor(Saldo)</b>
        </MudText>
        
        <Grafico_SALDOxTEMPO Saldos=@SaldoTodosDias/>

        @* ENTRADAS | SAÍDAS | ECONOMIAS *@
        <MudContainer Class="pa-0 px-4 d-flex flex-row justify-space-between">
            @* ENTRADAS *@
            <MudChip Class="flex-grow-1" Icon="@Icons.Material.Filled.AttachMoney" Variant="MudBlazor.Variant.Text" Color="MudBlazor.Color.Success" Size="MudBlazor.Size.Medium">
                <b>@AuxFunc.Valor(Receitas30)</b>
            </MudChip>

            @* SAÍDAS *@
            <MudChip Class="flex-grow-1" Icon="@Icons.Material.Filled.MoneyOff" Variant="MudBlazor.Variant.Text" Color="MudBlazor.Color.Error" Size="MudBlazor.Size.Medium">
                <b>@AuxFunc.Valor(Despesas30)</b>
            </MudChip>

            @* ECONOMIAS *@
            <MudChip Class="flex-grow-1" Icon="@Icons.Material.Filled.Wallet" Variant="MudBlazor.Variant.Text" Color="MudBlazor.Color.Info" Size="MudBlazor.Size.Medium">
                <b>@AuxFunc.Valor(Receitas30 - Despesas30)</b>
            </MudChip> 
        </MudContainer>
    </MudPaper>

</MudContainer>

@code{
    
    // PARÂMETROS
    [Parameter] public IEnumerable<Transacao> Transacoes { get; set; }
    public List<Transacao>? TransacoesRecorrentesTemp { get; set; } = [];
    private List<SaldoDias> SaldoTodosDias { get; set; } = new();

    // SALDO ATUAL DA CONTA
    private double Saldo {get; set;} = 0.0;

    // SOMATÓRIO RECEITAS
    private double Receitas30 {get; set;} = 0;

    // SOMATÓRIO DESPESAS
    private double Despesas30 {get; set;} = 0;

    // DATA DA TRANSAÇÃO MAIS ANTIGA
    public DateTime? dataMinima;
    DateTime? dateNow = DateTime.Today;

    // FUNÇÕES EXECUTADAS NO CARREGAMENTO DA PÁGINA
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {   
        if ( firstRender )
        {   
            // CALCULA TODAS AS TRANSAÇÕES
            ProcessamentoNoturno();
            // UPDATE DE ESTADO
            StateHasChanged();
        }
    }

    private void ProcessamentoNoturno()
    {
        // DETERMINA A DATA MÍNIMA
        dataMinima = Transacoes.Min(Transacao => Transacao.DataTransa);

        // PERCORRE TODOS OS DIAS (DESDE A DATA DA PRIMEIRA TRANSAÇÃO ATÉ A DATA DE HOJE)
        for( DateTime? dia = dataMinima ; dia <= dateNow?.AddDays(1) ; dia = dia?.AddDays(1) )
        {   
            // FILTRA PELAS TRANSAÇÕES DO DIA
            foreach(Transacao transacao in Transacoes.Where(Transacao => Transacao.DataTransa?.ToString("dd/MM/yy", CultureInfo.CreateSpecificCulture("pt-BR")).ToUpper().Replace(".", "") == dia?.ToString("dd/MM/yy", CultureInfo.CreateSpecificCulture("pt-BR")).ToUpper().Replace(".", "")).ToList())
            {   
                // SOMA OU SUBTRAI O SALDO A DEPENDER DO TIPO DE TRANSAÇÃO
                Saldo += transacao.Tipo ? transacao.Valor : -transacao.Valor;

                //VERIFICA SE A TRANSAÇÃO PERTENCE AO MES ATUAL, E A ADICIONA ÀS TRANSAÇÕES DOS ÚLTIMOS 30 DIAS
                if (transacao.DataTransa?.Month == DateTime.Now.Month && transacao.DataTransa?.Year == DateTime.Now.Year)
                {
                    Receitas30 += transacao.Tipo ? transacao.Valor : 0;
                    Despesas30 += transacao.Tipo ? 0 : transacao.Valor;
                }

                // SE FOR RECORRENTE, ADICIONAR NA LISTA DE TRANSAÇÕES RECORRENTES
                if(transacao.Recorrencia>0)
                {
                    TransacoesRecorrentesTemp.Add(transacao);
                }
            }
            
            // PERCORRER A LISTA DE TRANSAÇÕES RECORRENTES, COMPARANDO A DATA ATUAL COM A DATA DAS PRÓXIMAS RECORRÊNCIAS PARA CADA ITEM
            if(TransacoesRecorrentesTemp?.Count > 0)
            {
                foreach(Transacao transacao in TransacoesRecorrentesTemp)
                {
                    // SE DATA É COMPATÍVEL - EFETUA A ADIÇÃO
                    if(AuxFunc.VerificaDataCompativel(dia, transacao.DataTransa, transacao.Recorrencia, transacao.Recorrencia_Data_Limite, transacao.Recorrencia_Modo, transacao.Recorrencia_N_Vezes))
                    {
                        // SOMA OU SUBTRAI O SALDO A DEPENDER DO TIPO DE TRANSAÇÃO
                        Saldo += transacao.Tipo ? transacao.Valor : -transacao.Valor;

                        //VERIFICA SE A TRANSAÇÃO PERTENCE AO MES ATUAL, E A ADICIONA ÀS TRANSAÇÕES DOS ÚLTIMOS 30 DIAS
                        if (transacao.DataTransa?.Month == DateTime.Now.Month && transacao.DataTransa?.Year == DateTime.Now.Year)
                        {
                            Receitas30 += transacao.Tipo ? transacao.Valor : 0;
                            Despesas30 += transacao.Tipo ? 0 : transacao.Valor;
                        }
                    }
                }
            }
            
            // ACRESCENTA O SALDO DO DIA EM QUESTÃO PARA O GRÁFICO
            SaldoTodosDias.Add(new SaldoDias { Dia = dia?.ToString("dd/MM/yy", CultureInfo.CreateSpecificCulture("pt-BR")).ToUpper().Replace(".", ""), Saldo = Saldo });
        }
    }

}
