@using FrontEnd_CDN.Components.Layout.ContasPaineis

@* CONTA *@
<MudItem xs="12" md="4">
    <MudPaper Elevation="25" Class="pa-0" Style="height: 60em; border-radius: 1em;">
        
        @* CABEÇALHO *@
        <MudContainer Class="pa-4 ma-0 d-flex">
            <MudIcon Icon=@AuxFunc.IconeConta(Conta) Style="font-size: 2rem;" />
            <MudText Class="ml-2" Typo="Typo.h5">@AuxFunc.NomeConta(Conta)</MudText>
        </MudContainer>
        
        @* SALDO ATUAL *@
        <MostradorSaldosConta Transacoes=@Transacoes/>

        @* ÚLTIMA TRANSAÇÕES *@
        <UltimasTransacoesConta Transacoes="@(Transacoes.OrderByDescending(Transacao => Transacao.DataTransa).Take(5))" Conta="@Conta"/>

    </MudPaper>
</MudItem>

@code{
    [Parameter] public int Conta { get; set; }
    [Parameter] public IEnumerable<Transacao> Transacoes { get; set; }

}