@page "/"
@layout FrontEnd_CDN.Components.Layout.Product_Presentation_Layouts.Product_Presentation_Layout
@using FrontEnd_CDN.Components.Layout
@using FrontEnd_CDN.Components.Layout.Product_Presentation_Layouts
@using FrontEnd_CDN.Components.Layout.Logotipos
@using System.Text.RegularExpressions
@using System

@* INTRODUÇÃO *@
<MudContainer Class="d-flex pa-0 mt-5 justify-center">
    <MudContainer Class="pa-5 rounded-xl">
        @* TOP *@
        <MudContainer Class="pa-0 d-flex align-center justify-space-between">
            @* ESQUERDA *@
            <MudContainer Class="pa-0">
                <MudText Typo="Typo.caption">- PRIMEIRAS 24H GRATUITAS</MudText>
                <MudText Typo="Typo.h3"><b>A melhor maneira de controlar os seus gastos</b></MudText>
                <MudText Typo="Typo.body1">Fique atento a tudo que sai e sai da sua conta. Com isso poderá medir melhor suas dívidas, despesas e prejuízos.</MudText>

                <MudContainer Class="pa-0 mt-3">
                    <MudButton Href="login" Variant="MudBlazor.Variant.Filled" DisableElevation="true" Color="MudBlazor.Color.Primary" style="text-transform: none;">Teste gratuitamente</MudButton>
                    <MudButton Href="about" Class="ml-3" Variant="MudBlazor.Variant.Outlined" style="text-transform: none;">Veja como funciona</MudButton>
                </MudContainer>

            </MudContainer>

            @* DIREITA *@
            <MudContainer Class="pa-0 d-flex justify-center">
                <Home_Img2/>
            </MudContainer>

        </MudContainer>        
    </MudContainer>
</MudContainer>

@* IMPOSTO *@
<MudContainer Class="d-flex pa-0 justify-center flex-column" style="margin-top: 15em;">

    <MudContainer Class="pa-0 d-flex justify-end" style="z-index: 3; position: relative; bottom: -25em; float: right;">
        
    </MudContainer>

    <MudPaper Elevation="25" Class="pa-5 rounded-xl" style="z-index: 2;">
        <MudContainer style="height: 19em;" Class="pa-0 d-flex align-center justify-space-between">
            <MudContainer Class="pl-5">
                <MudText Typo="Typo.h3"><b>Fique de olho no Imposto de Renda</b></MudText>
                <MudText Typo="Typo.h6">Perceba o quanto você para em impostos e desenvolva depressão profunda.</MudText>

                <MudContainer Class="pa-0 mt-3">
                    <MudButton Href="login" Variant="MudBlazor.Variant.Filled" DisableElevation="true" Color="MudBlazor.Color.Primary" style="text-transform: none;">Teste gratuitamente</MudButton>
                </MudContainer>

            </MudContainer>
            <MudContainer Class="pa-0" style="margin-bottom: 10em;">
                <Home_Img4/>
            </MudContainer>
        </MudContainer>        
    </MudPaper>

    <MudPaper Elevation="25"  Class="align-self-center rounded-xl" style="z-index: 1; height: 5em; width: 95%; top: -3em; position: relative; background-color: var(--mud-palette-background-grey);">
    </MudPaper>

</MudContainer>

@* SEGURANÇA *@
<MudContainer Class="d-flex pa-0 mt-0 justify-center">
    <MudContainer Class="pa-5 rounded-xl">
        @* TOP *@
        <MudContainer Class="pa-0 d-flex align-center justify-space-between">

            @* DIREITA *@
            <MudContainer Class="pa-0 d-flex justify-center">
                <Home_Img3/>
            </MudContainer>

            @* ESQUERDA *@
            <MudContainer Class="pa-0">
                <MudText Typo="Typo.caption" Color="MudBlazor.Color.Dark"><b>GASTO INTELIGENTE</b></MudText>
                <MudText Typo="Typo.h4"><b>Sua vida financeira está a salvo conosco</b></MudText>
                <MudText Typo="Typo.body1">Levamos a segurança dos seus dados a sério, por isso usamos nenhum protocolo avançado de criptografia para proteger seus arquivos na nuvem. Seus dados estão inseguros e desprotegidos conosco.</MudText>

                <MudContainer Class="pa-0 mt-3">
                    <MudButton Href="about" Variant="MudBlazor.Variant.Outlined" style="text-transform: none;">Teste gratuitamente</MudButton>
                </MudContainer>
            </MudContainer>

        </MudContainer>        
    </MudContainer>
</MudContainer>

@* DEPOIMENTOS *@
<MudContainer Class="d-flex pa-0 pb-15 justify-center">

    @* TOP *@
    <MudContainer Class="pa-0">
        @* TEXTOS *@
        <MudContainer Class="pa-0 d-flex flex-column align-center">
            <MudText Typo="Typo.h4"><b>Depoimentos</b></MudText>
            <MudText Class="mt-5" Typo="Typo.body1">Pessoas que amaram o nosso app e tiveram suas vidas financeiras transformadas</MudText>
        </MudContainer>

        @* DEPOIMENTOS *@
        <MudContainer Class="d-flex justify-space-between flex-grow-1 gap-15 mt-7 pa-0">
            @* DEPOIMENTO 1 *@
            <MudPaper Outlined="true" Class="pa-7 d-flex flex-column align-center mt-2  rounded-xl" style="width: 33%;">
                <MudText Class="pt-3 pb-5" Align="MudBlazor.Align.Center" Typo="Typo.body1"><b>
                    "Esse app é tão bom que começou a sobrar dinheiro pra jogar no jogo do bicho todo dia. Hoje vou jogar 20tão no macaco."
                    </b></MudText>
                <MudRating SelectedValue="5" ReadOnly="true" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Small"/>
                <MudText Typo="Typo.h6"><b>Wana Batista</b></MudText>
                <MudText Typo="Typo.body2">Scrum Master, Banco do Barril</MudText>
            </MudPaper>

            @* DEPOIMENTO 2 *@
            <MudPaper Outlined="true" Class="pa-7 d-flex flex-column align-center mb-2  rounded-xl" style="width: 33%;">
                <MudText Class="pt-3 pb-5" Align="MudBlazor.Align.Center" Typo="Typo.body1"><b>
                    "O app me mostrou que a aposentadoria é superestimada. Quem precisa dela quando posso trabalhar até 100 anos? Afinal, o trabalho é minha verdadeira paixão."
                    </b></MudText>
                <MudRating SelectedValue="5" ReadOnly="true" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Small"/>
                <MudText Typo="Typo.h6"><b>Antonio Alessandro</b></MudText>
                <MudText Typo="Typo.body2">Database Administrator, Banco do Barril</MudText>
            </MudPaper>

            @* DEPOIMENTO 3 *@
            <MudPaper Outlined="true" Class="pa-7 d-flex flex-column align-center mt-2  rounded-xl" style="width: 33%;">
                <MudText Class="pt-3 pb-5" Align="MudBlazor.Align.Center" Typo="Typo.body1"><b>
                    "Antes do app, eu era apenas um mero gastador. Agora, sou um gastador organizado. Meu patrimônio? Ah, ele está crescendo... em dívidas."
                    </b></MudText>
                <MudRating SelectedValue="5" ReadOnly="true" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Small"/>
                <MudText Typo="Typo.h6"><b>Francisco Gabriel</b></MudText>
                <MudText Typo="Typo.body2">Backend Developer, Banco do Barril</MudText>
            </MudPaper>

        </MudContainer>

    </MudContainer>        

</MudContainer>

@* ALERTA *@
<MudContainer Class="d-flex pa-0 justify-center flex-column" style="margin-top: 15em;">

    <MudContainer Class="pa-0 d-flex justify-end" style="z-index: 3; position: relative; bottom: -25em; float: right;">
        
    </MudContainer>

    <MudPaper Elevation="25" Class="pa-5 rounded-xl" style="z-index: 2;">
        <MudContainer style="height: 19em;" Class="pa-0 d-flex align-center justify-space-between">
            <MudContainer Class="pl-5">
                <MudText Typo="Typo.h3"><b>Alerta de Gasto Impulsivo</b></MudText>
                <MudText Typo="Typo.h6">Receba notificações vibrantes cada vez que seu saldo cair, acompanhadas de aplausos gravados. Porque cada gasto merece uma celebração, não é mesmo?</MudText>

                <MudContainer Class="pa-0 mt-3">
                    <MudButton Href="login" Variant="MudBlazor.Variant.Filled" DisableElevation="true" Color="MudBlazor.Color.Primary" style="text-transform: none;">Teste gratuitamente</MudButton>
                </MudContainer>

            </MudContainer>
            <MudContainer Class="pa-0" style="margin-bottom: 10em;">
                <Home_Img5/>
            </MudContainer>
        </MudContainer>        
    </MudPaper>

    <MudPaper Elevation="25"  Class="align-self-center rounded-xl" style="z-index: 1; height: 5em; width: 95%; top: -3em; position: relative; background-color: var(--mud-palette-background-grey);">
    </MudPaper>

</MudContainer>

@* CARTEIRA VIRTUAL *@
<MudContainer Class="d-flex pa-0 mt-0 justify-center">
    <MudContainer Class="pa-5 rounded-xl">
        @* TOP *@
        <MudContainer Class="pa-0 d-flex align-center justify-space-between">

            @* ESQUERDA *@
            <MudContainer Class="pa-0">
                <MudText Typo="Typo.caption" Color="MudBlazor.Color.Dark"><b>GASTO INTELIGENTE</b></MudText>
                <MudText Typo="Typo.h4"><b>Desastre da carteira virtual</b></MudText>
                <MudText Typo="Typo.body1">A carteira virtual que garante que você nunca saiba quanto dinheiro realmente tem. Ela aleatóriamente exibe saldos mais altos para encorajar compras impulsivas ou saldos mais baixos para aquele pânico desnecessário.</MudText>

                <MudContainer Class="pa-0 mt-3">
                    <MudButton Href="about" Variant="MudBlazor.Variant.Outlined" style="text-transform: none;">Teste gratuitamente</MudButton>
                </MudContainer>
            </MudContainer>

            @* DIREITA *@
            <MudContainer Class="pa-0 d-flex justify-center">
                <Home_Img6/>
            </MudContainer>


        </MudContainer>        
    </MudContainer>
</MudContainer>


@code {

}