﻿@page "/create"
@page "/login"
@inject NavigationManager Navigator
@layout FrontEnd_CDN.Components.Layout.Before_Login_Layouts.BeforeLoginLayout
@using FrontEnd_CDN.Components.Layout
@using FrontEnd_CDN.Components.Layout.Before_Login_Layouts
@using FrontEnd_CDN.Components.Layout.Logotipos
@using System

@* LAYOUT COMPLETO *@
<MudContainer Class="d-flex pa-0">
    <MudPaper Class="pa-0 ma-auto d-flex" Elevation="25" style="min-width: 900px; max-width: 50vw; border-radius: 1em; border: 1px solid var(--mud-palette-lines-default);">
        
        @* ESQUERDO | FORMULÁRIO *@
        <MudContainer Class="Esq pa-6" style="width: 50%; height: 45em; border-right: 1px solid var(--mud-palette-lines-default);">
            
            @* LOGOTIPO *@
            <MudLink Class="pa-0 ma-0" Href="" style="cursor: pointer;">
                <Logotipo />
            </MudLink>
            
            @* CARROSSEL PARA TROCAR ENTRE LOGIN E CRIAR CONTA *@
            <MudCarousel @ref="_carousel" Class="mud-width-full pt-3" Style="height:100%;" ShowArrows="false" ShowBullets="false" AutoCycle="false" TData="object">
                <Login_Form @bind-Carousel="@_carousel" />
                <Create_Form @bind-Carousel="@_carousel" />
            </MudCarousel>

        </MudContainer>
        
        @* DIREITO | SLIDES AO LADO *@
        <Slides_LoginCreate/>

    </MudPaper>
</MudContainer>

@code {
    // VARIÁVEL DO CARROSSEL QUE SERÁ ENVIADO PARA CADA FORMULÁRIO
    private MudCarousel<object> _carousel;
    
    // DETERMINA QUAL FORMULÁRIO VAI SER APRESENTADO DEPENDENDO DA URL (login | create)
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {   
        if ( firstRender && Navigator.ToBaseRelativePath(Navigator.Uri.ToString())  == "create" )
        {
            _carousel.MoveTo(1);
            StateHasChanged();
        }
    }

}