<MudPaper Elevation="25" Class="pa-4" Style="height: 13em; border-radius: 1em;">

    <MudContainer Class="pa-0 ma-0 d-flex">
        <MudIcon Icon="@Icons.Material.Filled.ArrowUpward" Style="font-size: 2rem;" />
        <MudText Class="ml-2" Typo="Typo.h5">Maiores @(Tipo ? "Receitas" : "Despesas")</MudText>
    </MudContainer>

    <MudSpacer/>

    <MudContainer Class="pa-0 mt-4 d-flex flex-row" style="background-color: var(--mud-palette-background-grey); height: 7em; max-width: unset;">

    @{
        var totalSum = ValorTotalCategoria.Sum();
        for(int i = 0; i < ValorTotalCategoria.Length; i++){
            var porcentagem = (ValorTotalCategoria[i] / totalSum) * 100;
            if(porcentagem > 5){
                <div Class="py-2 ma-0 d-flex flex-column justify-center align-center" style="@("background-color: "+ AuxFunc.CategoriaCorString(i) +"; width:" + Math.Round(porcentagem).ToString() + "%;")">
                    <MudIcon Title="@AuxFunc.CategoriaTexto(i)" Icon="@AuxFunc.CategoriaIcone(i)" Size="MudBlazor.Size.Large" style="color: #ffffff;"/>
                    <MudText style="color: #ffffff;"><b>@porcentagem.ToString("0.##") %</b></MudText>
                </div>
            }
        }
    }
        
    </MudContainer>

</MudPaper>

@code{
    [Parameter] public required double[] ValorTotalCategoria { get; set; }
    [Parameter] public required bool Tipo { get; set; }
}