<MudPaper Elevation="25" Class="pa-4" Style="height: 8em; border-radius: 1em; border: 1px solid var(--mud-palette-success);">

        <MudContainer Class="pa-0 ma-0 d-flex">
            <MudIcon Icon="@Icons.Material.Filled.AttachMoney" Style="font-size: 2rem;" Color=@AuxFunc.CorTransacao(true) />
            <MudText Class="ml-2" Typo="Typo.h5" Color=@AuxFunc.CorTransacao(true)>Receitas</MudText>
            <MudSpacer/>
            <MudTooltip Text="Somatório de todas as receitas do mês." Arrow="true" Placement="Placement.Top">
            <MudIcon Icon="@Icons.Material.Filled.HelpOutline" Color="@AuxFunc.CorTransacao(true)" Style="font-size: 1.5rem;" />
            </MudTooltip>
        </MudContainer>

        <MudContainer Class="pa-0 ma-0 d-flex pt-1">                  
            <MudText Class="pt-1 pl-0" Color=@AuxFunc.CorTransacao(true) Typo="Typo.h4">
            <MudIcon Icon=@(ReceitasMesAnterior>=Receitas ? @Icons.Material.Filled.ArrowDropUp : @Icons.Material.Filled.ArrowDropDown) Color=@AuxFunc.CorTransacao(true) Size="MudBlazor.Size.Medium" />
            <b>@AuxFunc.Valor(Receitas)</b>
            </MudText>
        </MudContainer>

</MudPaper>


@code{
    [Parameter] public double Receitas { get; set; }

    [Parameter] public double ReceitasMesAnterior { get; set; }

}