<MudPaper Elevation="25" Class="pa-4" Style="height: 8em; border-radius: 1em; border: 1px solid var(--mud-palette-info);">

        <MudContainer Class="pa-0 ma-0 d-flex">
            <MudIcon Icon="@Icons.Material.Filled.Wallet" Style="font-size: 2rem; color: var(--mud-palette-info);" />
            <MudText Class="ml-2" Typo="Typo.h5" style="color: var(--mud-palette-info);">Economias</MudText>
            <MudSpacer/>
            <MudTooltip Text="Diferença entre todas as receitas e despesas do mês." Arrow="true" Placement="Placement.Top">
            <MudIcon Icon="@Icons.Material.Filled.HelpOutline" Color="MudBlazor.Color.Info" Style="font-size: 1.5rem;" />
            </MudTooltip>
        </MudContainer>

        <MudContainer Class="pa-0 ma-0 d-flex pt-1">
            <MudText Class="pt-1 pl-0" style="color: var(--mud-palette-info);" Typo="Typo.h4" Color="MudBlazor.Color.Default">
            <MudIcon Icon=@(EconomiasMesAnterior>=Economias ? @Icons.Material.Filled.ArrowDropUp : @Icons.Material.Filled.ArrowDropDown) Size="MudBlazor.Size.Medium" />
            <b>@AuxFunc.Valor(Economias)</b>
            </MudText>
        </MudContainer>

</MudPaper>




@code{
    [Parameter] public double Economias { get; set; }
    [Parameter] public double EconomiasMesAnterior { get; set; }
}