<MudPaper Elevation="25" Class="pa-0 d-flex flex-column ma-0" Style="height: 35em; border-radius: 1em;">
    <MudContainer Class="px-4 pb-4 mb-3 mt-4 d-flex flex-column flex-grow-1" style="height: 33.8em;">
        
        <MudContainer Class="pa-0 ma-0 d-flex">
            <MudIcon Icon="@Icons.Material.Filled.FormatListNumbered" Style="font-size: 2rem;" />
            <MudText Class="ml-2" Typo="Typo.h5">Ultimas Transações</MudText>
        </MudContainer>

        @foreach (Transacao transacao in Transacoes)
        {
            @* UNIDADE DE TRANSAÇÃO *@
            <MudContainer Class="pa-1 mt-2 d-flex align-center" style=@("border-radius: 8px; border-width: 1px; border-style: solid; border-color: " + AuxFunc.CorTransacaoString(transacao.Tipo) + ";")>

                @* ÍCONE *@
                <div>
                    <MudIcon Style=@("font-size: 2.5rem;") Color=@AuxFunc.CorTransacao(transacao.Tipo) Class="ml-4 mt-1" Icon=@AuxFunc.IconeCategoria(transacao.CategoriaId)/>
                </div>

                @* DESCRIÇÃO *@
                <MudContainer Class="d-flex flex-column flex-grow-1 pa-0 pl-4">

                    @* LINHA DE CIMA *@
                    <div Class="pa-0 d-flex ma-0">
                        @* TEXTO DESCRIÇÃO *@
                        <MudContainer Class="pa-0">
                            <MudText Style=@("padding-top: 0.12em;") Color=@AuxFunc.CorTransacao(transacao.Tipo) Typo="Typo.body1"><b>@transacao.Descricao</b></MudText>
                        </MudContainer>
                        @* RECORRÊNCIA *@
                        <MudIcon Class="ml-1 mr-1 mt-1" hidden=@(transacao.Recorrencia > 0 ? false : true) Icon="@Icons.Material.Filled.Autorenew" Color=@AuxFunc.CorTransacao(transacao.Tipo) Size="MudBlazor.Size.Small"/>                    
                    </div>

                    @* LINHA DE BAIXO *@
                    <div Class="pa-0 d-flex ma-0">
                        @* VALOR *@
                        <div Class="pa-0">
                            <MudText Typo="Typo.h6" Color=@AuxFunc.CorTransacao(transacao.Tipo)><b>@AuxFunc.Valor(transacao.Valor)</b></MudText>
                        </div>

                        <MudSpacer />

                        @* DATA *@
                        <div Class="d-flex pa-0 mt-3 mr-2">
                            <MudText Typo="Typo.body2" Color=@AuxFunc.CorTransacao(transacao.Tipo)><b><i>@transacao.DataTransa?.ToString("dd/MM/yyyy")</i></b></MudText>
                        </div>

                    </div>

                </MudContainer>

            </MudContainer>
        }
        <MudSpacer></MudSpacer>
        <MudButton Class="mt-2 " Href="transactions" Variant="MudBlazor.Variant.Filled" style="width: 100%;" DisableElevation="true" Color="MudBlazor.Color.Primary">MOSTRAR TODAS</MudButton>
    </MudContainer>
</MudPaper>

@code{
    [Parameter] public int Conta { get; set; }
    [Parameter] public IEnumerable<Transacao> Transacoes { get; set; }

}