<MudDialog ClassContent="pa-0" ClassActions="pa-5" TitleClass="pa-2">

    @* TÍTULO *@
    <TitleContent>
        <MudContainer  Class="d-flex pa-0 ma-0 justify-end flex-grow-1">
            <MudContainer Class="d-flex pa-0 ma-0 pt-3 pl-3">
                <MudIcon Color="MudBlazor.Color.Surface" Icon="@Icons.Material.Filled.Delete" Size="MudBlazor.Size.Large" />
                <MudText Color="MudBlazor.Color.Surface" Typo="Typo.h6" Class="pt-1 pl-2"><b>Excluir Transação</b></MudText>
            </MudContainer>
        </MudContainer>
    </TitleContent>

    <DialogContent>
        <MudContainer Class="pb-10 pt-6">
            <MudText Typo="Typo.h5">Tem certeza que deseja excluir a transação? Este processo não pode ser desfeito.</MudText>
        </MudContainer>
    </DialogContent>

    @* BOTÕES *@
    <DialogActions>
        <MudButton OnClick="Cancel"><b>Cancelar</b></MudButton>
        <MudButton Variant="MudBlazor.Variant.Filled" DisableElevation="true" Color="MudBlazor.Color.Error" OnClick="Submit"><b>Excluir</b></MudButton>
    </DialogActions>

</MudDialog>


@code {
    @using System.Globalization
    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }

    [Parameter] public int TransaID { get; set; }

    void Submit() => MudDialog?.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog?.Cancel();

}