<MudDialog ClassContent="pa-0" ClassActions="pa-5" TitleClass="pa-2">

    @* TÍTULO *@
    <TitleContent>
        <MudContainer Class="d-flex pa-0 ma-0 justify-end flex-grow-1">
            
            @* TÍTULO *@
            <MudContainer Class="d-flex pa-0 ma-0 pt-3 pl-3">
                <MudIcon Color="MudBlazor.Color.Surface" Icon="@Icons.Material.Filled.AddChart" Size="MudBlazor.Size.Large" />
                <MudText Color="MudBlazor.Color.Surface" Typo="Typo.h6" Class="pt-1 pl-2"><b>Editar Transação</b></MudText>
            </MudContainer>

            @* TIPO DE TRANSAÇÃO *@
            <MudSwitch
                Class="flex-grow-1 pa-0 mr-1 ma-0 mt-1"
                style="margin-inline-end: 0; margin-right: 0;"
                @bind-Value="@Tipo_Switch"
                ThumbIcon=@(Tipo_Switch==true ? Icons.Material.Filled.MoneyOff : Icons.Material.Filled.AttachMoney)
                ThumbIconColor=@(Tipo_Switch==true ? MudBlazor.Color.Success : MudBlazor.Color.Error)
                LabelPosition="MudBlazor.LabelPosition.Start"
                Size="MudBlazor.Size.Large">
                <b>@(Tipo_Switch==true ? "Receita" : "Despesa")</b>
            </MudSwitch>

        </MudContainer>
    </TitleContent>

    @* CONTEÚDO *@
    <DialogContent>
        <MudContainer Class="pa-5 pb-7" style=@(Tipo_Switch == true ? "border: 3px solid var(--mud-palette-success); border-left: none; border-right: none;" : "border: 3px solid var(--mud-palette-error); border-left: none; border-right: none;") Outlined="true">
            
            @* DESCRIÇÃO *@
            <MudContainer Class="pa-0">
                <MudText Typo="Typo.h6" Class="pa-0"><b>Descrição</b></MudText>
                <MudTextField @bind-Value="TextValue" Variant="MudBlazor.Variant.Outlined"></MudTextField>
            </MudContainer>

            @* VALOR | DATA *@
            <MudContainer Class="d-flex pa-0 gap-5">
                @* VALOR DA TRANSAÇÃO *@
                <MudContainer Class="pa-0">
                    <MudText Typo="Typo.h6" Class="pt-5"><b>Valor do Movimentamento</b></MudText>
                    <MudTextField @bind-Value="Amount" Variant="MudBlazor.Variant.Outlined" Adornment="Adornment.Start"
                        AdornmentIcon="@Icons.Material.Filled.AttachMoney" />
                </MudContainer>

                @* DATA DA TRANSAÇÃO *@
                <MudContainer Class="pa-0">
                    <MudText Typo="Typo.h6" Class="pt-5"><b>Data</b></MudText>
                    <MudTextField T="DateTime?" Variant="MudBlazor.Variant.Outlined" Format="yyyy-MM-dd" InputType="InputType.Date" />
                </MudContainer>
            </MudContainer>

            @* CONTA | CATEGORIA *@
            <MudContainer Class="d-flex pa-0 gap-5">

                @* CONTA USADA *@
                <MudContainer Class="pa-0">
                    <MudText Typo="Typo.h6" Class="pt-5"><b>Conta Usada</b></MudText>
                    <MudSelect T="int" Variant="MudBlazor.Variant.Outlined" AnchorOrigin="Origin.BottomCenter">

                        <MudSelectItem Value="0" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.AccountBalanceWallet" Size="MudBlazor.Size.Small" />
                                <MudText Class="ml-2">Conta Corrente</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value="1" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.Savings" Size="MudBlazor.Size.Small" />
                                <MudText Class="ml-2">Poupança</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value="2" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.Wallet" Size="MudBlazor.Size.Small" />
                                <MudText Class="ml-2">Carteira</MudText>
                            </MudContainer>
                        </MudSelectItem>

                    </MudSelect>
                </MudContainer>

                @* CATEGORIA DA TRANSAÇÃO *@
                <MudContainer Class="pa-0">
                    <MudText Typo="Typo.h6" Class="pt-5"><b>Categoria</b></MudText>
                    <MudSelect T="string" Placeholder="Ex: Salary" Variant="MudBlazor.Variant.Outlined" AnchorOrigin="Origin.BottomCenter">

                        <MudSelectItem Value="@("Salário")" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.LocalAtm" Size="MudBlazor.Size.Small" />
                                <MudText Class="ml-2">Salário</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value="@("Benefícios")" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.LocalAtm" Size="MudBlazor.Size.Small" />
                                <MudText Class="ml-2">Benefícios</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value="@("Saúde")" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.LocalHospital" Size="MudBlazor.Size.Small" />
                                <MudText Class="ml-2">Saúde</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value="@("Alimentação")" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.LocalDining" Size="MudBlazor.Size.Small" />
                                <MudText Class="ml-2">Alimentação</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value="@("Compras")" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.ShoppingBag" Size="MudBlazor.Size.Small" />
                                <MudText Class="ml-2">Compras</MudText>
                            </MudContainer>
                        </MudSelectItem>

                        <MudSelectItem Value="@("Outros")" >
                            <MudContainer Class="pa-0 ma-0 d-flex">
                                <MudIcon Icon="@Icons.Material.Filled.Spoke" Size="MudBlazor.Size.Small" />
                                <MudText Class="ml-2">Outros</MudText>
                            </MudContainer>
                        </MudSelectItem>
                    </MudSelect>
                </MudContainer>
            
            </MudContainer>

            @* RECORRÊNCIA *@
            <MudContainer Class="d-flex pa-0 gap-5">

                @* FREQUÊNCIA DE RECORRÊNCIA *@
                <MudContainer Class="pa-0">
                    <MudText Typo="Typo.h6" Class="pt-5"><b>Recorrência</b></MudText>
                    <MudSelect T="int" @bind-Value="@Frequencia_Duracao" Placeholder="Ex: Indefinidamente" Variant="MudBlazor.Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                        <MudSelectItem Value="0" >Nunca</MudSelectItem>
                        <MudSelectItem Value="1" >Diariamente</MudSelectItem>
                        <MudSelectItem Value="2" >Semanalmente</MudSelectItem>
                        <MudSelectItem Value="3" >Mensalmente</MudSelectItem>
                        <MudSelectItem Value="4" >Anualmente</MudSelectItem>
                    </MudSelect>
                </MudContainer>

            </MudContainer>

            @* OPÇÕES EXTRAS RECORRÊNCIA *@
            <MudContainer Class="d-flex pa-0 gap-5" hidden=@(Frequencia_Duracao > 0 ? false : true)>

                @* REGRA DE DURAÇÃO *@
                <MudContainer Class="pa-0">
                    <MudText Typo="Typo.body1" Class="pt-5"><b>Regra de Duração</b></MudText>
                    <MudSelect T="int" @bind-Value="@Regra_Duracao" Placeholder="Ex: Indefinidamente" Variant="MudBlazor.Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                        <MudSelectItem Value="0" >Indefinidamente</MudSelectItem>
                        <MudSelectItem Value="1" >Até a data</MudSelectItem>
                        <MudSelectItem Value="2" >Número de vezes</MudSelectItem>
                    </MudSelect>
                </MudContainer>

                @* CONFIGURAÇÃO DE DURAÇÃO *@
                <MudContainer Class="pa-0" hidden=@(Regra_Duracao==1 ? false : true)>
                    <MudText Typo="Typo.body1" Class="pt-5"><b>Até a data </b></MudText>
                    <MudTextField T="DateTime?" Variant="MudBlazor.Variant.Outlined" Format="yyyy-MM-dd" InputType="InputType.Date" />
                </MudContainer>

                <MudContainer Class="pa-0" hidden=@(Regra_Duracao==2 ? false : true)>
                    <MudText Typo="Typo.body1" Class="pt-5"><b>Número de Vezes </b></MudText>
                    <MudNumericField @bind-Value="N_vezes_recorrencia" Variant="MudBlazor.Variant.Outlined" Min="2" />
                </MudContainer>

            </MudContainer>

        </MudContainer>
    </DialogContent>

    @* BOTÕES *@
    <DialogActions>
        <MudButton OnClick="Cancel"><b>Cancelar</b></MudButton>
        <MudButton Variant="MudBlazor.Variant.Filled" DisableElevation="true" Color="MudBlazor.Color.Primary" OnClick="Submit"><b>Criar Transação</b></MudButton>
    </DialogActions>

</MudDialog>


@code {
    @using System.Globalization
    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }
    public string? TextValue { get; set; }
    public double? Amount { get; set; }
    public bool Tipo_Switch { get; set; } = true;
    public int Frequencia_Duracao { get; set; } = 0;
    public int Regra_Duracao { get; set; } = 0;
    public int N_vezes_recorrencia { get; set; } = 2;
    void Submit() => MudDialog?.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog?.Cancel();
    public CultureInfo _de = CultureInfo.GetCultureInfo("de-DE");
    public double? _valueDe = 1234.56;
    public IMask mask1 = new RegexMask(@"(\d)(?=(\d{3})+(?!\d))");
    string[] labels = new string[] { "None","Daily", "Weekly", "Monthly", "Annually"};
    public bool Label_CheckBox1 { get; set; } = true;
    const string real = @"<svg viewBox='0 0 122.88 98'><title>brazil-real</title><path d='M87.71,88.84l-1-.06q-3.37-.21-6.65-.64t-6.27-1q-3-.53-5.79-1.28V69.37q3.64.33,7.88.54c2.83.14,5.68.25,8.58.32s5.59.11,8.1.11a27,27,0,0,0,5.89-.54A7.12,7.12,0,0,0,102,68.09a4.34,4.34,0,0,0,1.18-3.22V63.58a4,4,0,0,0-1.66-3.53,6.56,6.56,0,0,0-3.91-1.18H91.89Q79.45,58.87,73,53.4T66.59,35.06V31.52q0-11.79,7.07-17.63,5.3-4.36,14-5.47V0H99.29V8.18c1.45.08,2.87.2,4.24.34Q108,9,111.89,9.7t7,1.45V27.66c-3.29-.28-7-.51-11.1-.69s-7.84-.27-11.2-.27a29.76,29.76,0,0,0-5.36.43,6.74,6.74,0,0,0-3.65,1.71,5.09,5.09,0,0,0-1.28,3.76v1.07A4.94,4.94,0,0,0,88,37.74a8.26,8.26,0,0,0,5.26,1.4h7.07q7.52,0,12.49,2.84a18.54,18.54,0,0,1,7.51,7.72,23.82,23.82,0,0,1,2.52,11.1v3.54q0,10.18-3.54,15.54a17.35,17.35,0,0,1-10.08,7.24,50,50,0,0,1-10,1.68V98H87.71V88.84ZM0,88.35V8.69H34A34.19,34.19,0,0,1,43.64,10a18.44,18.44,0,0,1,7.61,4.34,20.08,20.08,0,0,1,5,8.21,40.4,40.4,0,0,1,1.77,13,37.9,37.9,0,0,1-.86,8.58,23.06,23.06,0,0,1-2.3,6.17,16.25,16.25,0,0,1-3.44,4.23,26.38,26.38,0,0,1-4.23,3L61,88.35H39.89L28.74,60.9H20.8V88.35Zm20.8-44h9.44a8.58,8.58,0,0,0,3-.48,5.24,5.24,0,0,0,2.2-1.56,6.72,6.72,0,0,0,1.34-2.73,16.6,16.6,0,0,0,.43-4,15.94,15.94,0,0,0-.43-4,5.14,5.14,0,0,0-3.54-3.86,9.69,9.69,0,0,0-3-.43H20.8V44.39Z'/></svg>";
}