<MudForm>
    <MudText Typo="Typo.body1" Class="pt-4"><b>Nome</b></MudText>
    <MudTextField T="string" Required="true" Placeholder="usuario_gostosao@email.com"
        RequiredError="Nasceu sem nome? Seu felfa da fela!" Class="d-flex mt-0 pt-0" Variant="MudBlazor.Variant.Outlined" />

    <MudContainer Class="d-flex pa-0 ma-0 gap-8 mt-5">
        <MudContainer Class="pa-0 ma-0">
            <MudText Typo="Typo.body1" Class="pt-5"><b>Email</b></MudText>
            <MudTextField T="string" Required="true" Placeholder="usuario_gostosao@email.com"
        RequiredError="Como vai fazer login sem email? Seu burro!" Class="d-flex mt-0 pt-0" Variant="MudBlazor.Variant.Outlined" />
        </MudContainer>

        <MudContainer Class="pa-0 ma-0">
            <MudText Typo="Typo.body1" Class="pt-5"><b>Confirme Email</b></MudText>
            <MudTextField T="string" Required="true" Placeholder="usuario_gostosao@email.com"
        RequiredError="Como vai fazer login sem email? Seu burro!" Class="d-flex mt-0 pt-0" Variant="MudBlazor.Variant.Outlined" />
        </MudContainer>
    </MudContainer>

    
    <MudContainer Class="d-flex pa-0 ma-0 gap-8 mt-5">
        <MudContainer Class="pa-0 ma-0">
            <MudText Typo="Typo.body1" Class="pt-5"><b>Senha</b></MudText>
            <MudTextField @bind-Value="Password1" Variant="MudBlazor.Variant.Outlined" Placeholder="seunome@123" InputType="@PasswordInput1"
                Required="true" RequiredError="Como saberemos se você é você mesmo?"/>
        </MudContainer>

        <MudContainer Class="pa-0 ma-0">
            <MudText Typo="Typo.body1" Class="pt-5"><b>Confirme Senha</b></MudText>
            <MudTextField @bind-Value="Password2" Variant="MudBlazor.Variant.Outlined" Placeholder="seunome@123" InputType="@PasswordInput2"
                Required="true" RequiredError="Como saberemos se você é você mesmo?"/>
        </MudContainer>
    </MudContainer>

    <MudButton Variant="MudBlazor.Variant.Outlined" DisableElevation="true" Color="MudBlazor.Color.Primary" Class="mt-10 mb-5"
        FullWidth="true"><b>atualizar dados</b></MudButton>


</MudForm>

@code{
    public bool Login_Create_Toggle { get; set; } = true;
    public bool KeepLoggedIn { get; set; } = true;
    public double? Amount { get; set; }
    public int? Weight { get; set; }
    public string? Password1 { get; set; }
    public string? Password2 { get; set; }
    bool isShow;
    InputType PasswordInput1 = InputType.Password;
    InputType PasswordInput2 = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

}