﻿
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <PageTitle>LisoTracker</PageTitle>
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(FrontEnd_CDN.Components.Layout.After_Login_Layouts.AfterLoginLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(FrontEnd_CDN.Components.Layout.Before_Login_Layouts.BeforeLoginLayout)">
            <h1 role="alert">Sorry, there's nothing at this address.</h1>
        </LayoutView>
    </NotFound>
</Router>
