﻿@inherits LayoutComponentBase
@using FrontEnd_CDN.Components
@using FrontEnd_CDN.Components.Pages
@using FrontEnd_CDN.Components.Layout
@using FrontEnd_CDN.Components.Pages.Before_Login_Pages

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="MyCustomTheme"/>
<MudDialogProvider/>

<MudLayout>
    @* CONTEÚDO DA PÁGINA *@
    <MudMainContent style="height: 100vh; background-color: #e3e3e3; padding: 0;"  Class="d-flex align-content-center">
        @Body
    </MudMainContent>
</MudLayout>

@code {


    private bool _isDarkMode;

    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new PaletteLight()
        {
            Tertiary = MudBlazor.Colors.Shades.White,
        },
        PaletteDark = new PaletteDark()
        {
            Tertiary = MudBlazor.Colors.Shades.White,
        },

    };

}