@using FrontEnd_CDN.Components.Layout
@using FrontEnd_CDN.Components.Layout.LoginSlides

<MudContainer Class="d-flex pa-0" style="height:100%; background-color: #ffffff; background-image: url(images//carrossel//image1.jpeg); background-repeat: no-repeat; background-size: cover; background-position: center;" >
    <MudContainer Class="align-self-end pb-15 text-white" style="background-color: var(--mud-palette-primary);" >
        <MudText Typo="Typo.h5" Align="MudBlazor.Align.Center" Class="pt-6 pb-0 " Style="color:white">
            <b>Economize como se fosse milionário</b>
        </MudText>
        <MudText Typo="Typo.subtitle1" Align="MudBlazor.Align.Center" Class="pt-0 mt-0 " Style="color:white">
            Porque guardar dinheiro é para os ricos, certo? Continue sonhando com o iate que você nunca terá.
        </MudText>
    </MudContainer>
</MudContainer>

