@using FrontEnd_CDN.Components.Layout
@using FrontEnd_CDN.Components.Layout.LoginSlides

<MudContainer Class="d-flex pa-0" style="height:100%; background-color: #ffffff; background-image: url(images//carrossel//image6.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;" >
    <MudContainer Class="align-self-end pb-15 text-white" style="background-color: var(--mud-palette-primary);" >
        <MudText Typo="Typo.h5" Align="MudBlazor.Align.Center" Class="pt-6 pb-0 " Style="color:white">
            <b>Se não comprar, o desconto é maior</b>
        </MudText>
        <MudText Typo="Typo.subtitle1" Align="MudBlazor.Align.Center" Class="pt-0 mt-0 " Style="color:white">
            Pra quê colocar na balança cada gasto, se a melhor descisão é não comprar?
        </MudText>
    </MudContainer>
</MudContainer>

