﻿<MudNavMenu Bordered="true" Color="MudBlazor.Color.Surface">
    <MudDivider />

    <MudNavLink IconColor="MudBlazor.Color.Surface" Href="dashboard"        Match="NavLinkMatch.All"    Icon="@Icons.Material.Filled.Dashboard">
        <b>Dashboard</b>
    </MudNavLink>
    
    <MudNavLink IconColor="MudBlazor.Color.Surface" Href="transactions" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.FormatListNumbered">
        <b>Transações</b>
    </MudNavLink>

    <MudNavLink IconColor="MudBlazor.Color.Surface" Href="accounts" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.AccountBalance">
        <b>Contas</b>
    </MudNavLink>


    @* <MudDivider/> *@

</MudNavMenu>
