@using MudBlazor
@using FrontEnd_CDN.Components.Layout
@using FrontEnd_CDN.Components.Layout.Dialogo
@using FrontEnd_CDN.Components
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@using FrontEnd_CDN.Components.Layout.After_Login_Layouts
@using System.Globalization
@inject IJSRuntime JSRuntime
@using FrontEnd_CDN.Components.Layout.Product_Presentation_Layouts

@* TABELA *@

<div class="pa-0 mt-0" style="max-width: unset;" >
    @* SELETOR DE MÊS *@
    <MudTabs @ref="_tabs" Elevation="25" Rounded="true" Color="@MudBlazor.Color.Default" ActivePanelIndexChanged="() => FiltraTransacoes()">
        <MudTabPanel Text="TUDO" ID="0" />

        @* PERCORRE TODOS OS MESES DESDE O MÊS MAIS ANTIGO ATÉ O MÊS ATUAL *@
        @for( DateTime? mes = dataMinima ; mes <= dateNow?.AddMonths(1) ; mes = mes?.AddMonths(1) )
        {   
            // CRIA NOVA ABA COM TEXTO DO MÊS EM QUESTÃO
            <MudTabPanel Text=@(mes?.ToString("MMM/yy", CultureInfo.CreateSpecificCulture("pt-BR")).ToUpper().Replace(".", "")) />
        }
        
    </MudTabs >

    @* TABELA *@
    <MudTable
        @ref="tabela"
        Class="mt-3"
        @bind-Items=@TransacoesFiltradas
        Hover="true"
        @bind-SelectedItem="selectedItem1"
        Elevation="25"
        SortLabel="Sort By"
        Filter="new Func<Transacao,bool>(FilterFunc1)"
        CanCancelEdit="true"
        Loading="false"
        LoadingProgressColor="MudBlazor.Color.Primary"
        T="Transacao"
        OnRowMouseEnter="RowMouseEnterEvent"
        OnRowMouseLeave="RowMouseLeaveEvent"
        Breakpoint="Breakpoint.Sm"
        EditTrigger="TableEditTrigger.EditButton"
        FixedFooter="true"
        FixedHeader="true"
        Height="@("calc(100vh - (48px + 200px + 16px + 24px))")"
        style=@(TransacoesFiltradas.Count == 0 ? "background: url('home_img14.png') no-repeat center;  background-size: 30em; background-color: var(--mud-palette-surface);" : "")
        >

        @* BARRA DE FERRAMENTAS *@
        <ToolBarContent>
            <MudButtonGroup Color="MudBlazor.Color.Primary" Variant="MudBlazor.Variant.Outlined" DisableElevation="true" Class="mt-1">
                <MudButton aria-label="new transaction" @onclick="CriarTransa_Dialog" StartIcon="@Icons.Material.Filled.AddCircleOutline"><b>Nova Transação</b></MudButton>
                <MudButton aria-label="new transaction" OnClick="() => Activate(0)" StartIcon="@Icons.Material.Filled.History"><b>Histórico Completo</b></MudButton>
                <MudButton aria-label="new transaction" OnClick="() => Activate(_tabs.Panels.Count - 1)" Class="classeDoBotao" StartIcon="@Icons.Material.Filled.Today"><b>Mês Atual</b></MudButton>
            </MudButtonGroup>

            <MudToggleGroup @ref="_seletorContas" @bind-Value=ContaSeletor @onclick="() => FiltraTransacoes()" SelectionMode="MudBlazor.SelectionMode.SingleSelection" style="height: 2.55em; margin-top: .25em;" Class="ml-3 d-flex" T="int" Outline="true" Delimiters="true">
                <MudToggleItem Value="@((int)0)">
                    <MudIcon Size="MudBlazor.Size.Small" Icon=@Icons.Material.Filled.AllInclusive/> 
                </MudToggleItem>
                <MudToggleItem Value="@((int)1)">
                    <MudIcon Size="MudBlazor.Size.Small" Icon=@AuxFunc.IconeConta(0)/> 
                </MudToggleItem>
                <MudToggleItem Value="@((int)2)">
                    <MudIcon Size="MudBlazor.Size.Small" Icon=@AuxFunc.IconeConta(1)/> 
                </MudToggleItem>
                <MudToggleItem Value="@((int)3)">
                    <MudIcon Size="MudBlazor.Size.Small" Icon=@AuxFunc.IconeConta(2)/> 
                </MudToggleItem>
            </MudToggleGroup>

            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Variant="MudBlazor.Variant.Outlined"Placeholder="Pesquisar" Adornment="Adornment.Start" AdornmentColor="MudBlazor.Color.Primary" AdornmentIcon="@Icons.Material.Filled.Search"  IconSize="MudBlazor.Size.Medium" Margin="Margin.Dense" Class="mt-2 mr-1"></MudTextField>
        </ToolBarContent>

        @* DIMENSÕES DE CADA COLUNA *@
        <ColGroup>
            @* DESCRIÇÃO *@
            <col style="width:21%;" />

            @* TIPO *@
            <col style="width:7%;" />

            @* VALOR *@
            <col style="width:15%;" />

            @* CATEGORIA *@
            <col style="width:15%;" />

            @* CONTA *@
            <col style="width:10%;" />

            @* DATA *@
            <col style="width:12%;" />

            @* RECORRÊNCA *@
            <col style="width:20%;" />

        </ColGroup>

        @* CABEÇALHO *@
        <HeaderContent>
            @* DESCRIÇÃO *@
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Transacao, object>(x=>x.Descricao)">
                    <MudContainer Class="pa-0 ma-0 d-flex">
                        <MudIcon Icon=@Icons.Material.Filled.Description Class="ma-0" style="padding-bottom: 2px;" Size="MudBlazor.Size.Medium" />
                        <MudText Class="ma-0 pa-0 ml-1"><b>Descrição</b></MudText>
                    </MudContainer>
                </MudTableSortLabel>
            </MudTh>

            @* TIPO *@
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Transacao, object>(x=>x.Tipo)">
                    <MudContainer Class="pa-0 ma-0 d-flex">
                        <MudIcon Icon=@Icons.Material.Filled.ImportExport Class="ma-0" style="padding-bottom: 2px;" Size="MudBlazor.Size.Medium" />
                        <MudText Class="ma-0 pa-0 ml-1"><b>Tipo</b></MudText>
                    </MudContainer>
                </MudTableSortLabel>
            </MudTh>

            @* VALOR *@
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Transacao, object>(x=>x.Valor)">
                    <MudContainer Class="pa-0 ma-0 d-flex">
                        <MudIcon Icon=@Icons.Material.Filled.AttachMoney Class="ma-0" style="padding-bottom: 2px;" Size="MudBlazor.Size.Medium" />
                        <MudText Class="ma-0 pa-0 ml-1"><b>Valor</b></MudText>
                    </MudContainer>
                </MudTableSortLabel>
            </MudTh>

            @* CATEGORIA *@
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Transacao, object>(x=>x.CategoriaId)">
                    <MudContainer Class="pa-0 ma-0 d-flex">
                        <MudIcon Icon=@Icons.Material.Filled.Category Class="ma-0" style="padding-bottom: 2px;" Size="MudBlazor.Size.Medium" />
                        <MudText Class="ma-0 pa-0 ml-1"><b>Categoria</b></MudText>
                    </MudContainer>
                </MudTableSortLabel>
            </MudTh>

            @* CONTA *@
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Transacao, object>(x=>x.ContaId)">
                    <MudContainer Class="pa-0 ma-0 d-flex">
                        <MudIcon Icon=@Icons.Material.Filled.AccountBalance Class="ma-0" style="padding-bottom: 2px;" Size="MudBlazor.Size.Medium" />
                        <MudText Class="ma-0 pa-0 ml-1"><b>Conta</b></MudText>
                    </MudContainer>
                </MudTableSortLabel>
            </MudTh>

            @* DATA DA TRANSAÇÃO *@
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Transacao, object>(x=>x.DataTransa)">
                    <MudContainer Class="pa-0 ma-0 d-flex">
                        <MudIcon Icon=@Icons.Material.Filled.CalendarMonth Class="ma-0" style="padding-bottom: 2px;" Size="MudBlazor.Size.Medium" />
                        <MudText Class="ma-0 pa-0 ml-1"><b>Data</b></MudText>
                    </MudContainer>
                </MudTableSortLabel>
            </MudTh>

            @* RECORRÊNCIA *@
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Transacao, object>(x=>x.Recorrencia)">
                    <MudContainer Class="pa-0 ma-0 d-flex">
                        <MudIcon Icon=@Icons.Material.Filled.Autorenew Class="ma-0" style="padding-bottom: 2px;" Size="MudBlazor.Size.Medium" />
                        <MudText Class="ma-0 pa-0 ml-1"><b>Recorrência</b></MudText>
                    </MudContainer>
                </MudTableSortLabel>
            </MudTh>
    
        </HeaderContent>

        @* CONTEÚDO *@
        <RowTemplate>
            @* DESCRIÇÃO *@
            <MudTd DataLabel="Descrição">
                <b>@context.Descricao</b>
            </MudTd>

            @* TIPO *@
            <MudTd DataLabel="Tipo">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon=@(@context.Tipo==true ? @Icons.Material.Filled.ArrowDropUp : @Icons.Material.Filled.ArrowDropDown) Color=@AuxFunc.CorTransacao(@context.Tipo) Size="MudBlazor.Size.Small" />
                    <MudText Class="ml-2" Typo="Typo.subtitle2" Color=@AuxFunc.CorTransacao(@context.Tipo)><b>@(@context.Tipo==true ? "Receita" : "Despesa")</b></MudText>
                </MudContainer>
            </MudTd>

            @* VALOR *@
            <MudTd DataLabel="Valor">
                <MudText Color=@AuxFunc.CorTransacao(context.Tipo) >
                    <b>@AuxFunc.Valor(context.Valor)</b>
                </MudText>
            </MudTd>

            @* CATEGORIA *@
            <MudTd DataLabel="Categoria">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon=@AuxFunc.CategoriaIcone(@context.CategoriaId) Color="MudBlazor.Color.Default" Size="MudBlazor.Size.Small" />
                    <MudText Class="ml-2" Typo="Typo.subtitle2"><b>@AuxFunc.CategoriaTexto(@context.CategoriaId)</b></MudText>
                </MudContainer>
            </MudTd>

            @* CONTA *@
            <MudTd DataLabel="Conta">
                <MudContainer Class="pa-0 ma-0 d-flex">
                    <MudIcon Icon=@AuxFunc.IconeConta(@context.ContaId) Color="MudBlazor.Color.Default" Size="MudBlazor.Size.Small" />
                    <MudText Class="ml-2" Typo="Typo.subtitle2"><b>@AuxFunc.NomeConta(@context.ContaId)</b></MudText>
                </MudContainer>
            </MudTd>

            @* DATA TRANSAÇÃO *@
            <MudTd DataLabel="Data da Transação">
                <b>@context.DataTransa?.ToString("dd/MM/yyyy")</b>
            </MudTd>

            @* RECORRÊNCA *@
            <MudTd DataLabel="Recorrência">
                <b>@AuxFunc.Recorrencia(@context.Recorrencia, @context.Recorrencia_Modo, @context.Recorrencia_N_Vezes, @context.Recorrencia_Data_Limite)</b>
            </MudTd>

        </RowTemplate>

        @* CAMPOS PARA EDIÇÃO DE LINHA *@
        <RowEditingTemplate>

            @* EDIÇÃO DE DESCRIÇÃO *@
            <MudTd DataLabel="Descrição">
                <MudTextField @bind-Value="@context.Descricao" Required Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense"/>
            </MudTd>

            @* EDIÇÃO DE TIPO *@
            <MudTd DataLabel="Tipo">
                <MudContainer Class="d-flex pl-0 pt-1">
                    <MudSwitch
                        @bind-Value="@context.Tipo"
                        ThumbIcon="@(@context.Tipo==true ? Icons.Material.Filled.AttachMoney : Icons.Material.Filled.MoneyOff)"
                        ThumbIconColor="@(@context.Tipo==true ? MudBlazor.Color.Success : MudBlazor.Color.Error)" Size="MudBlazor.Size.Medium">

                        <MudText Color=@AuxFunc.CorTransacao(@context.Tipo) Typo="Typo.body2" >
                            <b>@(@context.Tipo==true ? "Receita" : "Despesa")</b>
                        </MudText>
                        
                    </MudSwitch>

                    @* <MudToggleIconButton @bind-Toggled="@context.Tipo"
                            Icon="@Icons.Material.Filled.MoneyOff" Color="@Color.Error" Title="Off"
                            ToggledIcon="@Icons.Material.Filled.AttachMoney" ToggledColor="@Color.Success" Size="MudBlazor.Size.Small" ToggledSize="MudBlazor.Size.Small" ToggledTitle="On"/> *@

                    

                    @* <MudCheckBox @bind-Value="@context.Tipo"
                        Color="MudBlazor.Color.Success"
                        UnCheckedColor="MudBlazor.Color.Error"
                        Size="MudBlazor.Size.Medium"
                        CheckedIcon="@Icons.Material.Filled.AttachMoney"
                        UncheckedIcon="@Icons.Material.Filled.MoneyOff">
                        
                    </MudCheckBox> *@


                    
                </MudContainer>
            </MudTd>

            @* EDIÇÃO DE VALOR *@
            <MudTd DataLabel="Valor">
                <MudTextField @bind-Value="@context.Valor" Required Variant="MudBlazor.Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" Margin="Margin.Dense"/>
            </MudTd>

            @* EDIÇÃO DE CATEGORIA *@
            <MudTd DataLabel="Categoria">
                <MudSelect @bind-Value="@context.CategoriaId" T="int" Placeholder="Ex: Salary" AnchorOrigin="Origin.BottomCenter" Required Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense">

                            <MudSelectItem Value="0" >
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudIcon Icon="@Icons.Material.Filled.LocalAtm" Size="MudBlazor.Size.Small" />
                                    <MudText Class="ml-2">Salário</MudText>
                                </MudContainer>
                            </MudSelectItem>

                            <MudSelectItem Value="1" >
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudIcon Icon="@Icons.Material.Filled.LocalAtm" Size="MudBlazor.Size.Small" />
                                    <MudText Class="ml-2">Benefícios</MudText>
                                </MudContainer>
                            </MudSelectItem>

                            <MudSelectItem Value="2" >
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudIcon Icon="@Icons.Material.Filled.LocalHospital" Size="MudBlazor.Size.Small" />
                                    <MudText Class="ml-2">Saúde</MudText>
                                </MudContainer>
                            </MudSelectItem>

                            <MudSelectItem Value="3" >
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudIcon Icon="@Icons.Material.Filled.LocalDining" Size="MudBlazor.Size.Small" />
                                    <MudText Class="ml-2">Alimentação</MudText>
                                </MudContainer>
                            </MudSelectItem>

                            <MudSelectItem Value="4" >
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudIcon Icon="@Icons.Material.Filled.ShoppingBag" Size="MudBlazor.Size.Small" />
                                    <MudText Class="ml-2">Compras</MudText>
                                </MudContainer>
                            </MudSelectItem>

                            <MudSelectItem Value="5" >
                                <MudContainer Class="pa-0 ma-0 d-flex">
                                    <MudIcon Icon="@Icons.Material.Filled.Spoke" Size="MudBlazor.Size.Small" />
                                    <MudText Class="ml-2">Outros</MudText>
                                </MudContainer>
                            </MudSelectItem>
                </MudSelect>
            </MudTd>

            @* EDIÇÃO DE CONTA *@
            <MudTd DataLabel="Conta">
                <MudSelect @bind-Value="@context.ContaId" T="int" Placeholder="Ex: Salary" AnchorOrigin="Origin.BottomCenter" Required Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense">

                    <MudSelectItem Value="0" >
                        <MudContainer Class="pa-0 ma-0 d-flex">
                            <MudIcon Icon="@Icons.Material.Filled.AccountBalanceWallet" Size="MudBlazor.Size.Small" />
                            <MudText Class="ml-2">C/C</MudText>
                        </MudContainer>
                    </MudSelectItem>

                    <MudSelectItem Value="1" >
                        <MudContainer Class="pa-0 ma-0 d-flex">
                            <MudIcon Icon="@Icons.Material.Filled.Savings" Size="MudBlazor.Size.Small" />
                            <MudText Class="ml-2">Poupança</MudText>
                        </MudContainer>
                    </MudSelectItem>

                    <MudSelectItem Value="2" >
                        <MudContainer Class="pa-0 ma-0 d-flex">
                            <MudIcon Icon="@Icons.Material.Filled.Wallet" Size="MudBlazor.Size.Small" />
                            <MudText Class="ml-2">Carteira</MudText>
                        </MudContainer>
                    </MudSelectItem>

                </MudSelect>
            </MudTd>

            @* EDIÇÃO DE DATA *@
            <MudTd DataLabel="Data">
                <MudDatePicker @bind-Date="@context.DataTransa" DateFormat="dd/MM/yyyy" Editable="true" DisableToolbar="true" Required Variant="MudBlazor.Variant.Outlined" Margin="Margin.Dense"/>
            </MudTd>

            @* EDIÇÃO DE RECORRÊNCIA *@
            <MudTd DataLabel="Recorrência">
                <MudSelect T="int" @bind-Value="@context.Recorrencia" Placeholder="Ex: Indefinidamente" Variant="MudBlazor.Variant.Outlined" AnchorOrigin="Origin.BottomCenter"  Margin="Margin.Dense">
                    <MudSelectItem Value="0" >Nunca</MudSelectItem>
                    <MudSelectItem Value="1" >Diariamente</MudSelectItem>
                    <MudSelectItem Value="2" >Semanalmente</MudSelectItem>
                    <MudSelectItem Value="3" >Mensalmente</MudSelectItem>
                    <MudSelectItem Value="4" >Anualmente</MudSelectItem>
                </MudSelect>
            </MudTd>

        </RowEditingTemplate>

        @* PAGINAÇÃO *@
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { int.MaxValue }" HideRowsPerPage="true" HidePageNumber="true" HidePagination="true"/>
        </PagerContent>

        @* BOTÃO DE EDIÇÃO DE LINHA *@
        <EditButtonContent Context="button">
            <MudContainer Class="pa-0 d-flex">
                <MudIconButton Size="@MudBlazor.Size.Small" Icon="@Icons.Material.Filled.Edit" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
                <MudIconButton Size="@MudBlazor.Size.Small" Icon="@Icons.Material.Filled.Delete" @onclick="()=> ConfirmaExclusao_Dialog(currentlyHoveredElement)" Class="ml-3" Disabled="@button.ButtonDisabled" />
            </MudContainer>
        </EditButtonContent>

    </MudTable>



</div>

@* CÓDIGO *@
@code {
    // PARÂMETRO QUE RECEBE A CONTA (APENAS COM A URL CUSTOMIZADA)
    [Parameter] public int Conta { get; set; }

    // INSTÂNCIA DO MUD TABS
    private MudTabs _tabs;

    // INSTÂNCIA DO MUD TOGGLE GROUP
    private MudToggleGroup<int> _seletorContas;
    
    // VARIÁVEL QUE IRÁ GUARDAR A CONTA
    private int ContaSeletor { get; set; }

    // INSTÂNCIA DO MUD TABLE
    private MudTable<Transacao> tabela;

    // DATA DA TRANSAÇÃO MAIS ANTIGA
    public DateTime? dataMinima;

    // FUNÇÃO PARA TROCAR A ABA DOS MESES
    void Activate(int index)
    {
        _tabs.ActivatePanel(index);
    }

    // FUNÇÕES EXECUTADAS NO CARREGAMENTO DA PÁGINA
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // CRIAÇÃO DE DADOS FAKE
            CriaDadosFake();

            // RECEBE O PARÂMETRO E ATIVA O SELETOR DE CONTA
            ContaSeletor = Conta;

            // FILTRO TRANSAÇÕES
            TransacoesFiltradas = Transacoes;

            // CHAMANDO O CLICADOR DE BOTÃO JAVASCRIPT (GAMBIARRA NECESSÁRIA)
            JSRuntime.InvokeVoidAsync("myFunctions.clickButton");

        }
    }

    // ---------------------------------- DADOS -----------------------------------------------

    // FILTRAR TODAS AS TRANSAÇÕES POR MÊS
    public void FiltraTransacoes()
    {   
        var dataFiltragem = _tabs.ActivePanel.Text;

        // RETORNA TUDO
        if(dataFiltragem=="TUDO" && ContaSeletor==0)
        {
            TransacoesFiltradas = Transacoes;
        }
        // APLICA OS DOIS FILTROS
        else if(dataFiltragem!="TUDO" && ContaSeletor!=0)
        {
            TransacoesFiltradas = Transacoes.Where(Transacao => Transacao.DataTransa?.ToString("MMM/yy", CultureInfo.CreateSpecificCulture("pt-BR")).ToUpper().Replace(".", "") == dataFiltragem).ToList().Where(Transacao => Transacao.ContaId == (ContaSeletor-1)).ToList();
        }
        // SE TIVER APENAS UM DOS FILTROS
        else if(dataFiltragem!="TUDO" && ContaSeletor==0)
        {
            TransacoesFiltradas = Transacoes.Where(Transacao => Transacao.DataTransa?.ToString("MMM/yy", CultureInfo.CreateSpecificCulture("pt-BR")).ToUpper().Replace(".", "") == dataFiltragem).ToList();    
        }
        // PQ NÃO FUNCIONA?
        else if(dataFiltragem=="TUDO" && ContaSeletor!=0)
        {
            TransacoesFiltradas = Transacoes.Where(Transacao => Transacao.ContaId == (ContaSeletor-1)).ToList();   
        }
    }

    string[] NomesDespesas = [ "Conta de Luz", "Conta de Água", "Jogo do Bixo", "PIX pra amante", "IPVA", "IPTU", "Seguro de Vida", "Uber", "Podrão do Julio", "Netflix", "Disney+", "Comprinhas na Shein", "Honda Civic", "Dinheiro com Agiota", "Feira semanal", "Academia", "Remédios", "Abastecimento", "Manuntenção Carro", "Coquinha de Domingo a tarde" ];

    DateTime? dateNow = DateTime.Today;

    // CRIAÇÃO DE DADOS DE TESTE
    private List<Transacao> Transacoes = new List<Transacao>();
    private List<Transacao> TransacoesFiltradas = new List<Transacao>();
    public void CriaDadosFake()
    {
        Random rnd = new();
        int range = 7*365; // MARGEM DE 3 ANOS PARA CRIAÇÃO DE DATA ALEATÓRIAS
        for (int i = 0; i < 100; i++) 
        {
        Transacoes.Add(new Transacao(
            i, // ID TRANSAÇÃO
            1, // ID USUÁRIO
            NomesDespesas[rnd.Next(NomesDespesas.Length)], // DESCRIÇÃO
            rnd.Next(1000), // VALOR
            rnd.Next(2), // CATEGORIA ID (SE FOR == 1) É RECEITA
            rnd.Next(3), // ID CONTA
            DateTime.Today.AddDays(- rnd.Next(range)), // DATA TRANSAÇÃO (ALEATÓRIAMENTE NO PASSADO)
            rnd.Next(2), // FREQUENCIA RECORRENCIA
            rnd.Next(2), // MODO DE RECORRENCIA
            rnd.Next(35), // N VEZES RECORRENCIA
            DateTime.Today.AddDays(rnd.Next(range)) // DATA LIMITE DE RECORRENCIA (ALEATÓRIAMENTE NO FUTURO)
            ));
        }

        // DATA DE TRANSAÇÃO MAIS ANTIGA (VAI AUXILIAR NA CRIAÇÃO DAS ABAS DO SELETOR DE DATAS)
        dataMinima = Transacoes.Min(item => item.DataTransa);
    }


    // --------------------------------- PESQUISA ----------------------------------------------

    // VARIÁVEL QUE GUARDA A STRING DE BUSCA
    private string searchString1 = "";

    // FUNÇÕES PARA PESQUISA
    private bool FilterFunc1(Transacao transacao) => FilterFunc(transacao, searchString1);
    private bool FilterFunc(Transacao transacao, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (transacao.Descricao.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (transacao.Valor.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (AuxFunc.CategoriaTexto(transacao.CategoriaId).Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
    


    // ---------------------------------- EDIÇÃO -----------------------------------------------   

    // ITENS SELECIONADOS
    private Transacao? selectedItem1;
    private HashSet<Transacao> selectedItems1 = new HashSet<Transacao>();

    // ELEMENTO ANTES DA EDIÇÃO
    private Transacao? trasacaoBeforeEdit;

    // BACKUP DO ITEM
    private void BackupItem(object transacao)
    {   
        DateTime dataNaoNulavel_DataTransa;
        dataNaoNulavel_DataTransa = ((Transacao)transacao).DataTransa ?? DateTime.Today;

        DateTime dataNaoNulavel_Recorrencia_DataLimite;
        dataNaoNulavel_Recorrencia_DataLimite = ((Transacao)transacao).Recorrencia_Data_Limite ?? DateTime.Today;

        trasacaoBeforeEdit = new(
            // ID | USUÁRIO_ID | DESCRIÇÃO | VALOR | CATEGORIA_ID | CONTA_ID | DATA_TRANSAÇÃO | RECORRÊNCIA | RECORRÊCNIA - N VEZES | RECORRÊNCIA - DATA LIMITE
            ((Transacao)transacao).Id,
            ((Transacao)transacao).UsuarioId,
            ((Transacao)transacao).Descricao,
            ((Transacao)transacao).Valor,
            ((Transacao)transacao).CategoriaId,
            ((Transacao)transacao).ContaId,
            dataNaoNulavel_DataTransa,
            ((Transacao)transacao).Recorrencia,
            ((Transacao)transacao).Recorrencia_Modo,
            ((Transacao)transacao).Recorrencia_N_Vezes,
            dataNaoNulavel_Recorrencia_DataLimite
        );
    }

    // RESETAR ITENS PARA OS VALORES ORIGINAIS
    private void ResetItemToOriginalValues(object transacao)
    {
        ((Transacao)transacao).Id = trasacaoBeforeEdit.Id;
        ((Transacao)transacao).UsuarioId = trasacaoBeforeEdit.UsuarioId;
        ((Transacao)transacao).Descricao = trasacaoBeforeEdit.Descricao;
        ((Transacao)transacao).Valor = trasacaoBeforeEdit.Valor;
        ((Transacao)transacao).CategoriaId = trasacaoBeforeEdit.CategoriaId;
        ((Transacao)transacao).ContaId = trasacaoBeforeEdit.ContaId;
        ((Transacao)transacao).DataTransa = trasacaoBeforeEdit.DataTransa;
        ((Transacao)transacao).Recorrencia = trasacaoBeforeEdit.Recorrencia;
        ((Transacao)transacao).Recorrencia_Modo = trasacaoBeforeEdit.Recorrencia_Modo;
        ((Transacao)transacao).Recorrencia_N_Vezes = trasacaoBeforeEdit.Recorrencia_N_Vezes;
        ((Transacao)transacao).Recorrencia_Data_Limite = trasacaoBeforeEdit.Recorrencia_Data_Limite;
    }

    public bool Basic_Switch1 { get; set; } = false;

    string[] labels = new string[] { "Nenhuma","Diário", "Semanal", "Mensal", "Anualmente"};



    // ----------------------------- DIÁLOGO DE CRIAÇÃO -----------------------------------------   

    // ABRE DIÁLOGO
    private void CriarTransa_Dialog()
    {
        MudBlazor.DialogOptions closeOnEscapeKey = new MudBlazor.DialogOptions()
            {
                CloseOnEscapeKey = true,
                MaxWidth = MaxWidth.Medium,
                FullWidth = true
            };
        DialogService.Show<NewTransaction_Dialog>("New Transaction", closeOnEscapeKey);
    }

    // -------------------------- GERENCIAMENTO DE EVENTOS --------------------------------------   

    private int? currentlyHoveredElement;
    private int? lastHoveredElement;

    private void RowMouseEnterEvent(TableRowHoverEventArgs<Transacao> eventArgs)
    {
        currentlyHoveredElement = eventArgs.Item.Id;
    }

    private void RowMouseLeaveEvent(TableRowHoverEventArgs<Transacao> eventArgs)
    {
        currentlyHoveredElement = null;
        lastHoveredElement = eventArgs.Item.Id;
    }

    // ----------------------------- DIÁLOGO DE EXCLUSÃO -----------------------------------------   

    async Task ConfirmaExclusao_Dialog(int? id)
    {
        MudBlazor.DialogOptions closeOnEscapeKey = new MudBlazor.DialogOptions()
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Medium,
            FullWidth = true
        };

        //DialogService.Show<ConfirmExclusion_Dialog>("Confirma Exclusão", parameters, closeOnEscapeKey);

        var dialog = await DialogService.ShowAsync<ConfirmExclusion_Dialog>("Confirma Exclusão");

        var result = await dialog.Result;

        if (!result.Canceled)
        {
            DeletaItem(id);
        }
    }

    // ----------------------------- FUNÇÃO DE EXCLUSÃO ------------------------------------------   

    private void DeletaItem(int? IDtransacao){
        // Remove todos com esse ID
        Transacoes.RemoveAll(x => x.Id == IDtransacao);
    }

    const string real = @"<svg viewBox='0 0 122.88 98'><title>brazil-real</title><path d='M87.71,88.84l-1-.06q-3.37-.21-6.65-.64t-6.27-1q-3-.53-5.79-1.28V69.37q3.64.33,7.88.54c2.83.14,5.68.25,8.58.32s5.59.11,8.1.11a27,27,0,0,0,5.89-.54A7.12,7.12,0,0,0,102,68.09a4.34,4.34,0,0,0,1.18-3.22V63.58a4,4,0,0,0-1.66-3.53,6.56,6.56,0,0,0-3.91-1.18H91.89Q79.45,58.87,73,53.4T66.59,35.06V31.52q0-11.79,7.07-17.63,5.3-4.36,14-5.47V0H99.29V8.18c1.45.08,2.87.2,4.24.34Q108,9,111.89,9.7t7,1.45V27.66c-3.29-.28-7-.51-11.1-.69s-7.84-.27-11.2-.27a29.76,29.76,0,0,0-5.36.43,6.74,6.74,0,0,0-3.65,1.71,5.09,5.09,0,0,0-1.28,3.76v1.07A4.94,4.94,0,0,0,88,37.74a8.26,8.26,0,0,0,5.26,1.4h7.07q7.52,0,12.49,2.84a18.54,18.54,0,0,1,7.51,7.72,23.82,23.82,0,0,1,2.52,11.1v3.54q0,10.18-3.54,15.54a17.35,17.35,0,0,1-10.08,7.24,50,50,0,0,1-10,1.68V98H87.71V88.84ZM0,88.35V8.69H34A34.19,34.19,0,0,1,43.64,10a18.44,18.44,0,0,1,7.61,4.34,20.08,20.08,0,0,1,5,8.21,40.4,40.4,0,0,1,1.77,13,37.9,37.9,0,0,1-.86,8.58,23.06,23.06,0,0,1-2.3,6.17,16.25,16.25,0,0,1-3.44,4.23,26.38,26.38,0,0,1-4.23,3L61,88.35H39.89L28.74,60.9H20.8V88.35Zm20.8-44h9.44a8.58,8.58,0,0,0,3-.48,5.24,5.24,0,0,0,2.2-1.56,6.72,6.72,0,0,0,1.34-2.73,16.6,16.6,0,0,0,.43-4,15.94,15.94,0,0,0-.43-4,5.14,5.14,0,0,0-3.54-3.86,9.69,9.69,0,0,0-3-.43H20.8V44.39Z'/></svg>";

}