﻿<MudNavMenu Bordered="true" Color="MudBlazor.Color.Surface">

    <MudNavLink IconColor="MudBlazor.Color.Surface" Href="personal" Match="NavLinkMatch.Prefix">
        <div class="pa-2 ma-0 d-flex align-content-center justify-content-start">
            <MudAvatar Size="MudBlazor.Size.Medium" Color="MudBlazor.Color.Tertiary" Class="pa-0 ma-0" style="position: absolute; left: 9px; bottom: 8px;">V</MudAvatar>
            <MudText Class="align-self-center ml-5"><b>Usuário</b></MudText>
        </div>
    </MudNavLink>

    <MudNavLink IconColor="MudBlazor.Color.Surface" Href="settings" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Settings" style="">
        <b>Configurações</b>
    </MudNavLink>

    <MudNavLink  IconColor="MudBlazor.Color.Surface" Href="login" Icon="@Icons.Material.Filled.Logout">
        <b>Sair</b>
    </MudNavLink>

    <MudDivider/>

    <MudNavLink IconColor="MudBlazor.Color.Surface" Match="NavLinkMatch.Prefix" OnClick="@ToggleDarkMode" Icon="@Icons.Material.Filled.DarkMode" style="">
        <b>Darkmode</b>
    </MudNavLink>

</MudNavMenu>

@code{

    @* RECEBENDO O VALOR DA HIERARQUIA ACIMA *@
    [Parameter] public bool isDarkMode { get; set; }

    [Parameter] public EventCallback <bool> isDarkModeChanged { get; set; }

    private async Task ToggleDarkMode()
    {   
        isDarkMode = !isDarkMode;
        await isDarkModeChanged.InvokeAsync(isDarkMode);
    }
}