﻿@page "/accounts"
@using FrontEnd_CDN.Components.Layout.After_Login_Layouts
@using FrontEnd_CDN.Components.Layout.ContasPaineis
@layout FrontEnd_CDN.Components.Layout.After_Login_Layouts.AfterLoginLayout

<MudContainer Class="px-8" MaxWidth="MaxWidth.False">
    <MudText Typo="Typo.h4" Class="pb-4"><b>Contas</b></MudText>

    <MudGrid>
        <PainelConta Conta="0" Transacoes="@Transacoes.Where(Transacao => Transacao.ContaId == 0).ToList()" />
        <PainelConta Conta="1" Transacoes="@Transacoes.Where(Transacao => Transacao.ContaId == 1).ToList()" />
        <PainelConta Conta="2" Transacoes="@Transacoes.Where(Transacao => Transacao.ContaId == 2).ToList()" />
    </MudGrid>
    
</MudContainer>

@code{
    // FUNÇÕES EXECUTADAS NO CARREGAMENTO DA PÁGINA
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender){
            // CRIAÇÃO DE DADOS FAKE
            CriaDadosFake();
            StateHasChanged();
        }
    }

    // CRIAÇÃO DE DADOS DE TESTE
    private List<Transacao> Transacoes = new List<Transacao>();
    public void CriaDadosFake()
    {
        string[] NomesDespesas = {
            "Conta de Luz", "Conta de Água", "Jogo do Bixo", "PIX pra amante", "IPVA", "IPTU", "Seguro de Vida", "Uber", "Podrão do Julio", "Netflix", "Disney+", "Comprinhas na Shein", "Honda Civic", "Dinheiro com Agiota", "Feira semanal", "Academia", "Remédios", "Abastecimento", "Manuntenção Carro", "Coquinha de Domingo a tarde",
            "Spotify", "Amazon Prime", "Gasolina", "Aluguel", "Condomínio", "Escola das Crianças", "Plano de Saúde", "Internet", "Celular", "Cinema", "Teatro", "Jantar Fora", "Pizza de Sábado", "Churrasco", "Presente de Aniversário", "Viagem de Férias", "Hotel", "Passagem Aérea", "Curso Online", "Livros",
            "Jogos de Vídeo Game", "Assinatura de Jornal", "Doação", "Tarifa Bancária", "Impressão de Documentos", "Material de Escritório", "Ração do Pet", "Veterinário", "Corte de Cabelo", "Manicure", "Pedicure", "Massagem", "Yoga", "Pilates", "Suplementos", "Consulta Médica", "Exame de Laboratório", "Brinquedos", "Roupas Novas", "Sapatos"
        };
        Random rnd = new();
        int range = 3*365; // MARGEM DE 3 ANOS PARA CRIAÇÃO DE DATA ALEATÓRIAS
        for (int i = 0; i < 100; i++) 
        {
        Transacoes.Add(new Transacao(
            i, // ID TRANSAÇÃO
            1, // ID USUÁRIO
            NomesDespesas[rnd.Next(NomesDespesas.Length)], // DESCRIÇÃO
            rnd.Next(10), // VALOR
            rnd.Next(2), // CATEGORIA ID (SE FOR == 1) É RECEITA
            rnd.Next(3), // ID CONTA
            DateTime.Today.AddDays(- rnd.Next(range)), // DATA TRANSAÇÃO (ALEATÓRIAMENTE NO PASSADO)
            rnd.Next(4), // FREQUENCIA RECORRENCIA
            rnd.Next(2), // MODO DE RECORRENCIA
            rnd.Next(35), // N VEZES RECORRENCIA
            DateTime.Today.AddDays(rnd.Next(range)) // DATA LIMITE DE RECORRENCIA (ALEATÓRIAMENTE NO FUTURO)
            ));
        }

        Console.WriteLine("Criação de Dados Fake");
    }
}