﻿@page "/dashboard"
@using System.Globalization
@using FrontEnd_CDN.Components.Layout
@using FrontEnd_CDN.Components.Layout.DashboardPaineis
@using FrontEnd_CDN.Components.Layout.After_Login_Layouts
@* @layout FrontEnd_CDN.Components.Layout.After_Login_Layouts.AfterLoginLayout *@

<MudContainer Class="px-8" MaxWidth="MaxWidth.False">
    <MudText Typo="Typo.h4" Class="pb-4"><b>Dashboard</b></MudText>
    
    <MudGrid>
        @* SALDO ATUAL *@
        <MudItem xs="12" sm="6" md="3">
            <MostradorSaldoAtual SaldoTotal="@SaldoTotal"/>
        </MudItem>

        @* RECEITAS *@
        <MudItem xs="12" sm="6" md="3">
            <MostradorEntradas Receitas="@Receitas30" ReceitasMesAnterior="@Receitas30ant"/>
        </MudItem>

        @* DESPESAS *@
        <MudItem xs="12" sm="6" md="3">
            <MostradorSaidas Despesas="@Despesas30" DespesasMesAnterior="@Receitas30ant"/>
        </MudItem>

        @* ECONOMIAS *@
        <MudItem xs="12" sm="6" md="3">
            <MostradorDiferenca Economias=@(Receitas30-Despesas30) EconomiasMesAnterior=@(Receitas30ant-Despesas30ant) />
        </MudItem>

        @* EVOLUÇÃO DE SALDO *@
        <MudItem xs="12" sm="6" md="9">
            <GraficoEvolucaoSaldo Saldos="@SaldoTodosDias"/>
        </MudItem>

        @* ÚLTIMAS TRANSAÇÕES *@
        <MudItem xs="12" sm="6" md="3">
            <UltimasTransacoes Transacoes="@(Transacoes.OrderByDescending(Transacao => Transacao.DataTransa).Take(5))"/>
        </MudItem>

        @* MAIORES RECEITAS *@
        <MudItem xs="12" sm="6" md="6">
            <MaioresMovimentacoes Tipo="true" ValorTotalCategoria=@MaioresReceitas/>
        </MudItem>

        @* MAIORES DESPESAS *@
        <MudItem xs="12" sm="6" md="6">
            <MaioresMovimentacoes Tipo="false" ValorTotalCategoria=@MaioresDespesas/>
        </MudItem>
    </MudGrid>

</MudContainer>

@code{
    // SALDO ATUAL DA CONTA
    private double SaldoTotal {get; set;} = 0.0;

    // SOMATÓRIO RECEITAS DOS ÚLTIMOS 30 DIAS
    private double Receitas30 {get; set;} = 0;

    // SOMATÓRIO DESPESAS DOS ÚLTIMOS 30 DIAS
    private double Despesas30 {get; set;} = 0;

    // SOMATÓRIO RECEITAS DO MÊS ANTERIOR
    private double Receitas30ant { get; set; } = 0;

    // SOMATÓRIO DESPESAS DO MÊS ANTERIOR
    private double Despesas30ant { get; set; } = 0;

    // DATA DA TRANSAÇÃO MAIS ANTIGA
    public DateTime? dataMinima;
    DateTime? dateNow = DateTime.Today;
    public double[] MaioresReceitas = [0,0,0,0,0,0];
    public double[] MaioresDespesas = [0,0,0,0,0,0];

    public List<Transacao>? TransacoesRecorrentesTemp { get; set; } = [];
    private List<SaldoDias> SaldoTodosDias { get; set; } = new();

    // FUNÇÕES EXECUTADAS NO CARREGAMENTO DA PÁGINA
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender){
            // CRIAÇÃO DE DADOS FAKE
            CriaDadosFake();
            ProcessamentoNoturno();
            StateHasChanged();
        }
    }

    // CRIAÇÃO DE DADOS DE TESTE
    private List<Transacao> Transacoes = new List<Transacao>();
    public void CriaDadosFake()
    {
        string[] NomesDespesas = {
            "Conta de Luz", "Conta de Água", "Jogo do Bixo", "PIX pra amante", "IPVA", "IPTU", "Seguro de Vida", "Uber", "Podrão do Julio", "Netflix", "Disney+", "Comprinhas na Shein", "Honda Civic", "Dinheiro com Agiota", "Feira semanal", "Academia", "Remédios", "Abastecimento", "Manuntenção Carro", "Coquinha de Domingo a tarde",
            "Spotify", "Amazon Prime", "Gasolina", "Aluguel", "Condomínio", "Escola das Crianças", "Plano de Saúde", "Internet", "Celular", "Cinema", "Teatro", "Jantar Fora", "Pizza de Sábado", "Churrasco", "Presente de Aniversário", "Viagem de Férias", "Hotel", "Passagem Aérea", "Curso Online", "Livros",
            "Jogos de Vídeo Game", "Assinatura de Jornal", "Doação", "Tarifa Bancária", "Impressão de Documentos", "Material de Escritório", "Ração do Pet", "Veterinário", "Corte de Cabelo", "Manicure", "Pedicure", "Massagem", "Yoga", "Pilates", "Suplementos", "Consulta Médica", "Exame de Laboratório", "Brinquedos", "Roupas Novas", "Sapatos"
    };
        Random rnd = new();
        int range = 1*365; // MARGEM DE 3 ANOS PARA CRIAÇÃO DE DATA ALEATÓRIAS
        for (int i = 0; i < 100; i++) 
        {
            Transacoes.Add(new Transacao(
                i, // ID TRANSAÇÃO
                1, // ID USUÁRIO
                NomesDespesas[rnd.Next(NomesDespesas.Length)], // DESCRIÇÃO
                rnd.Next(10), // VALOR
                rnd.Next(5), // CATEGORIA ID (SE FOR == 1) É RECEITA
                rnd.Next(3), // ID CONTA
                DateTime.Today.AddDays(- rnd.Next(range)), // DATA TRANSAÇÃO (ALEATÓRIAMENTE NO PASSADO)
                rnd.Next(4), // FREQUENCIA RECORRENCIA
                rnd.Next(2), // MODO DE RECORRENCIA
                rnd.Next(35), // N VEZES RECORRENCIA
                DateTime.Today.AddDays(rnd.Next(range)) // DATA LIMITE DE RECORRENCIA (ALEATÓRIAMENTE NO FUTURO)
                ));
        }

        Console.WriteLine("Criação de Dados Fake");
    }
    private void ProcessamentoNoturno()
    {
        // DETERMINA A DATA MÍNIMA
        dataMinima = Transacoes.Min(Transacao => Transacao.DataTransa);

        // PERCORRE TODOS OS DIAS (DESDE A DATA DA PRIMEIRA TRANSAÇÃO ATÉ A DATA DE HOJE)
        for( DateTime? dia = dataMinima ; dia <= dateNow?.AddDays(1) ; dia = dia?.AddDays(1) )
        {   
            // FILTRA PELAS TRANSAÇÕES DO DIA
            foreach(Transacao transacao in Transacoes.Where(Transacao => Transacao.DataTransa?.ToString("dd/MM/yy", CultureInfo.CreateSpecificCulture("pt-BR")).ToUpper().Replace(".", "") == dia?.ToString("dd/MM/yy", CultureInfo.CreateSpecificCulture("pt-BR")).ToUpper().Replace(".", "")).ToList())
            {   
                // SOMA OU SUBTRAI O SALDO A DEPENDER DO TIPO DE TRANSAÇÃO
                SaldoTotal += transacao.Tipo ? transacao.Valor : -transacao.Valor;

                //VERIFICA SE A TRANSAÇÃO PERTENCE AO MES ATUAL, E A ADICIONA ÀS TRANSAÇÕES DOS ÚLTIMOS 30 DIAS
                if (transacao.DataTransa?.Month == DateTime.Now.Month && transacao.DataTransa?.Year == DateTime.Now.Year)
                {
                    Receitas30 += transacao.Tipo ? transacao.Valor : 0;
                    Despesas30 += transacao.Tipo ? 0 : transacao.Valor;
                }

                //VERIFICA SE A TRANSAÇÃO PERTENCE AO MES PASSADO
                if (transacao.DataTransa?.Month == DateTime.Now.AddMonths(-1).Month && transacao.DataTransa?.Year == DateTime.Now.Year)
                {
                    Receitas30ant += transacao.Tipo ? transacao.Valor : 0;
                    Despesas30ant += transacao.Tipo ? 0 : transacao.Valor;
                }

                // ADICIONA A RECEITA OU DESPESA BASEADO NA CATEGORIA (GRÁFICO DE MAIORES DESPESAS)
                MaioresReceitas[transacao.CategoriaId] += transacao.Tipo ? transacao.Valor : 0;
                MaioresDespesas[transacao.CategoriaId] += transacao.Tipo ? 0 : transacao.Valor;

                // SE FOR RECORRENTE, ADICIONAR NA LISTA DE TRANSAÇÕES RECORRENTES
                if(transacao.Recorrencia>0)
                {
                    TransacoesRecorrentesTemp.Add(transacao);
                }
            }
            
            // PERCORRER A LISTA DE TRANSAÇÕES RECORRENTES, COMPARANDO A DATA ATUAL COM A DATA DAS PRÓXIMAS RECORRÊNCIAS PARA CADA ITEM
            if(TransacoesRecorrentesTemp?.Count > 0)
            {
                foreach(Transacao transacao in TransacoesRecorrentesTemp)
                {
                    // SE DATA É COMPATÍVEL - EFETUA A ADIÇÃO
                    if(AuxFunc.VerificaDataCompativel(dia, transacao.DataTransa, transacao.Recorrencia, transacao.Recorrencia_Data_Limite, transacao.Recorrencia_Modo, transacao.Recorrencia_N_Vezes))
                    {
                        // SOMA OU SUBTRAI O SALDO A DEPENDER DO TIPO DE TRANSAÇÃO
                        SaldoTotal += transacao.Tipo ? transacao.Valor : -transacao.Valor;

                        //VERIFICA SE A TRANSAÇÃO PERTENCE AO MES PASSADO
                        if (transacao.DataTransa?.Month == DateTime.Now.AddMonths(-1).Month && transacao.DataTransa?.Year == DateTime.Now.Year)
                        {
                            Receitas30ant += transacao.Tipo ? transacao.Valor : 0;
                            Despesas30ant += transacao.Tipo ? 0 : transacao.Valor;
                        }
                    }
                }
            }
            
            // ACRESCENTA O SALDO DO DIA EM QUESTÃO PARA O GRÁFICO
            SaldoTodosDias.Add(new SaldoDias { Dia = dia?.ToString("dd/MM/yy", CultureInfo.CreateSpecificCulture("pt-BR")).ToUpper().Replace(".", ""), Saldo = SaldoTotal });
        }
    }

            


}