﻿@page "/personal"
@inject ISnackbar Snackbar
@using FrontEnd_CDN.Components.Layout.Configuracoes
@layout FrontEnd_CDN.Components.Layout.After_Login_Layouts.AfterLoginLayout
@using FrontEnd_CDN.Components.Layout.After_Login_Layouts

<MudContainer Class="px-8" MaxWidth="MaxWidth.False">
    
    <MudText Typo="Typo.h4" Class="pb-4"><b>Pessoal</b></MudText>

    <MudContainer Class="d-flex">
  
        <MudPaper Class="d-flex flex-column pa-9" Width="30%" Outlined="true" Style="border-radius: 1em; border-top-right-radius:0; border-bottom-right-radius:0; border-right: none; position: relative;">
            <MudIconButton DisableElevation="true" Variant="MudBlazor.Variant.Filled" Color="MudBlazor.Color.Secondary" Icon="@Icons.Material.Filled.Delete" Size="MudBlazor.Size.Small" aria-label="delete" style="width: 35px; height: 35px; position: absolute; z-index: 5; right: 6em; top: 2.5em; border-radius: 50px;"></MudIconButton>

            <MudContainer Class="d-flex justify-center" style="position: relative;">
                <MudAvatar Color="MudBlazor.Color.Tertiary" Style="height:150px; width:150px; font-size:4rem; position: absolute; top:0; border: 1px solid var(--mud-palette-lines-default);">V</MudAvatar>
                <div class="hoverProfilePicture d-flex justify-center pa-0 mt-0" >
                    <MudIcon Class="align-self-center" Icon="@Icons.Material.Filled.PhotoCamera" style="font-size:4rem; color: black;" aria-label="delete"></MudIcon>
                    <style>
                        .hoverProfilePicture{
                            height:150px;
                            width:150px;
                            border-radius: 150px;
                            cursor: pointer;
                            opacity: 0;
                            transition-duration: 50ms;
                        }

                        .hoverProfilePicture:hover{
                            opacity: 0.5;
                        }
                    </style>
                </div>
            </MudContainer>

            <MudFileUpload Class="align-self-center" T="IReadOnlyList<IBrowserFile>"
                    AppendMultipleFiles
                    OnFilesChanged="OnInputFileChanged"
                    Hidden="@false"
                    InputClass="absolute mud-width-full mud-height-full overflow-hidden z-20"
                    InputStyle="opacity:0"
                    @ondragenter="@SetDragClass"
                    @ondragleave="@ClearDragClass"
                    @ondragend="@ClearDragClass">
            </MudFileUpload>

            <MudText Class="align-self-center" Typo="Typo.h6"><b>Nome Sobrenome</b></MudText>
            <MudText Class="align-self-center" Typo="Typo.body2">email@email.com</MudText>

            <MudSpacer/>

            <MudText Class="mt-5 align-self-center" Typo="Typo.body2">Usuário desde: <b>15 de Setembro de 2024</b></MudText>            
        </MudPaper>

        <MudPaper Class="d-flex flex-column pl-0 pr-0" Width="70%" Height="60em" Outlined="true" Style="border-radius: 1em; border-top-left-radius:0; border-bottom-left-radius:0; ">
            <MudContainer Class="pl-8 pt-8 pb-5" style="background-color: var(--mud-palette-primary); border-top-left-radius: 0em; border-top-right-radius: 1em; ">
                <MudText style="color: white;" Typo="Typo.h5"><b>Editar Perfil</b></MudText>
            </MudContainer>

            <MudTabs Class="" Rounded="false" ApplyEffectsToContainer="true" PanelClass="pa-6" Color="MudBlazor.Color.Primary" TabHeaderClass="pl-5">
                <MudTabPanel style="text-transform: unset;" Icon="@Icons.Material.Filled.ManageAccounts" Text="Informações de Usuário">
                    <UserInfo/>
                </MudTabPanel>
                <MudTabPanel style="text-transform: unset;" Icon="@Icons.Material.Filled.AccountBalance" Text="Informações Bancárias">
                    <BankInfo/>
                </MudTabPanel>
            </MudTabs>

        </MudPaper>

    </MudContainer>


</MudContainer>

@code {

#nullable enable
    private const string DefaultDragClass = "relative rounded-lg border-2 border-dashed pa-4 mt-4 z-10";
    private string _dragClass = DefaultDragClass;
    private readonly List<string> _fileNames = new();

    private async Task Clear()
    {
        _fileNames.Clear();
        ClearDragClass();
        await Task.Delay(100);
    }

    private void OnInputFileChanged(InputFileChangeEventArgs e)
    {
        ClearDragClass();
        var files = e.GetMultipleFiles();
        foreach (var file in files)
        {
            _fileNames.Add(file.Name);
        }
    }

    private void Upload()
    {
        // Upload the files here
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
        Snackbar.Add("TODO: Upload your files!");
    }

    private void SetDragClass()
        => _dragClass = $"{DefaultDragClass} mud-border-primary";

    private void ClearDragClass()
        => _dragClass = DefaultDragClass;
}