﻿@page "/transactions"
@page "/transactions/corrente"
@page "/transactions/poupanca"
@page "/transactions/carteira"
@using FrontEnd_CDN.Components.Layout
@using FrontEnd_CDN.Components.Layout.After_Login_Layouts
@inject IDialogService DialogService
@inject NavigationManager Navigator
@using FrontEnd_CDN.Components.Layout.After_Login_Layouts
@layout FrontEnd_CDN.Components.Layout.After_Login_Layouts.AfterLoginLayout


<MudContainer Class="px-8" MaxWidth="MaxWidth.False">
    <MudText Typo="Typo.h4" Class="pb-4">
        <b>Transações</b>
    </MudText>

    <TabelaTransacao Conta=@Conta />

</MudContainer>

@code {
    // VARIÁVEL QUE IRÁ DETERMINAR O FILTRO NA LISTA TRANSACTION
    public int Conta;

    // DETERMINA QUAL FILTRO SERÁ UTILIZADO BASEADO NA URL
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {   
        if ( firstRender )
        {   
            if(Navigator.ToBaseRelativePath(Navigator.Uri.ToString()) == "transactions")
            {
                Conta = 0;
            }

            if(Navigator.ToBaseRelativePath(Navigator.Uri.ToString()) == "transactions/corrente")
            {
                Conta = 1;
            }

            if(Navigator.ToBaseRelativePath(Navigator.Uri.ToString()) == "transactions/poupanca")
            {
                Conta = 2;
            }

            if(Navigator.ToBaseRelativePath(Navigator.Uri.ToString()) == "transactions/carteira")
            {
                Conta = 3;
            }

            StateHasChanged();
        }
    }
}
