@using FrontEnd_CDN.Components.Layout.Logotipos
@inject NavigationManager Navigator

<MudAppBar Elevation="25" Color="MudBlazor.Color.Tertiary" Class="pl-7 pr-7">
    <div class="d-flex justify-start">
        <Logotipo />

        <MudNavLink Style="width:auto" Class="rounded ml-7 pa-0 justify-start" ActiveClass="" Match="NavLinkMatch.All" Href="/">
            <MudText Class="ml-n3" Color=@(@Navigator.ToBaseRelativePath(Navigator.Uri.ToString()) == "" ? MudBlazor.Color.Primary : MudBlazor.Color.Dark)><b>Home</b></MudText>
        </MudNavLink>

        <MudNavLink Style="width:auto" Class="rounded ml-5 pa-0 justify-start" ActiveClass="" Match="NavLinkMatch.Prefix" Href="pricing">
            <MudText Class="ml-n3" Color=@(@Navigator.ToBaseRelativePath(Navigator.Uri.ToString()) == "pricing" ? MudBlazor.Color.Primary : MudBlazor.Color.Dark)><b>Preços</b></MudText>
        </MudNavLink>

        <MudNavLink Style="width:auto" Class="rounded ml-5 pa-0 justify-start" ActiveClass="" Match="NavLinkMatch.Prefix" Href="about">
            <MudText Class="ml-n3" Color=@(@Navigator.ToBaseRelativePath(Navigator.Uri.ToString()) == "about" ? MudBlazor.Color.Primary : MudBlazor.Color.Dark)><b>Sobre nós</b></MudText>
        </MudNavLink>

        <MudNavLink Style="width:auto" Class="rounded ml-5 pa-0 justify-start" ActiveClass="" Match="NavLinkMatch.Prefix" Href="contact">
            <MudText Class="ml-n3" Color=@(@Navigator.ToBaseRelativePath(Navigator.Uri.ToString()) == "contact" ? MudBlazor.Color.Primary : MudBlazor.Color.Dark)><b>Contato</b></MudText>
        </MudNavLink>
        
    </div>

    <MudSpacer />

    <MudButton Href="login" Class="mr-2" Variant="MudBlazor.Variant.Text" style="text-transform: none;">Entrar</MudButton>
    <MudButton Href="create" Variant="MudBlazor.Variant.Filled" DisableElevation="true" Color="MudBlazor.Color.Primary" style="text-transform: none;">Cadastrar</MudButton>

</MudAppBar>

@code{

}