@using FrontEnd_CDN.Components.Layout.Logotipos
@inject NavigationManager Navigator

<MudDivider Class="mt-16"/>

<MudContainer Class="pa-10 d-flex justify-space-between flex-grow-1 gap-15">

    <MudContainer Class="pa-0 d-flex flex-column">
        <MudLink Class="pa-0 ma-0" Href="" style="cursor: pointer;">
            <Logotipo />
        </MudLink>
        <MudText Class="mt-3" Typo="Typo.body1">2024 © Nenhum direito reservado.</MudText>
    </MudContainer>

    <MudContainer Class="pa-0 d-flex flex-column  gap-3">
        <MudLink style="cursor: pointer;" Color="MudBlazor.Color.Default" Typo="Typo.body2" Href=""><b>Home</b></MudLink>
        <MudLink style="cursor: pointer;" Color="MudBlazor.Color.Default" Typo="Typo.body2" Href="pricing"><b>Preços</b></MudLink>
        <MudLink style="cursor: pointer;" Color="MudBlazor.Color.Default" Typo="Typo.body2" Href="about"><b>Sobre nós</b></MudLink>
        <MudLink style="cursor: pointer;" Color="MudBlazor.Color.Default" Typo="Typo.body2" Href="contact"><b>Contato</b></MudLink>
    </MudContainer>

    <MudContainer Class="pa-0 d-flex flex-column  gap-3">
        <MudLink style="cursor: pointer;" Color="MudBlazor.Color.Default" Typo="Typo.body2"><b>Facebook</b></MudLink>
        <MudLink style="cursor: pointer;" Color="MudBlazor.Color.Default" Typo="Typo.body2"><b>Instagram</b></MudLink>
        <MudLink style="cursor: pointer;" Color="MudBlazor.Color.Default" Typo="Typo.body2"><b>X</b></MudLink>
        <MudLink style="cursor: pointer;" Color="MudBlazor.Color.Default" Typo="Typo.body2"><b>LinkedIn</b></MudLink>
    </MudContainer>

    <MudContainer Class="pa-0 d-flex flex-column  gap-3">
        <MudLink style="cursor: pointer;" Color="MudBlazor.Color.Default" Typo="Typo.body2"><b>Política de Desprivacidade</b></MudLink>
        <MudLink style="cursor: pointer;" Color="MudBlazor.Color.Default" Typo="Typo.body2"><b>Termos de Deserviço</b></MudLink>
    </MudContainer>
    
</MudContainer>
@code{

}